body {
    background-color: #192524;
}

.image-iconback {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    width: 100%;
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
}

.interest-to-get {
    margin: 0;
}
.interest-to-get-container {
    position: absolute;
    top: 3367px;
    left: 327px;
    font-size: 17px;
    color: #000;
    text-align: left;
}
.become-volunteer-item {
    position: absolute;
    top: 3336px;
    left: 529px;
    background-color: #fff;
    width: 608px;
    height: 358px;
}
.become-a-volunteer {
    position: absolute;
    top: 225px;
    left: calc(50% - 353px);
    font-size: 65px;
    line-height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 707px;
    height: 166px;
}
.lets-help-together {
    position: absolute;
    top: 55px;
    left: 355px;
    font-size: 40px;
}
.more-people-more {
    position: absolute;
    top: 585px;
    left: 915px;
    font-size: 40px;
    display: flex;
    text-align: left;
    align-items: center;
    width: 331px;
    height: 119px;
}
.charity-law-within-container1 {
    width: 100%;
}
.charity-law-within-container {
    position: absolute;
    top: 105px;
    left: 355px;
    font-size: 18px;
    text-align: left;
    display: flex;
    align-items: center;
    width: 579px;
    height: 148px;
}
.image-icon {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    position: relative;
    left: 0px;
    width: 2000px;
    height: 550px;
    object-fit: cover;
}
.image-icon1 {
    position: absolute;
    top: 70px;
    left: 1250px;
    width: 363px;
    height: 353px;
    object-fit: cover;
}
.image-icon2 {
    position: absolute;
    top: 2075px;
    left: 1420px;
    width: 363px;
    height: 490px;
    object-fit: cover;
}
.image-icon3 {
    position: absolute;
    top: 585px;
    left: 355px;
    width: 526px;
    height: 353px;
    object-fit: cover;
}
.button1 {
    position: relative;
}
.button {
    position: absolute;
    top: 250px;
    left: 355px;
    background-color: #f27676;
    width: 175.5px;
    height: 51.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    font-size: 14px;
}
.button2 {
    position: absolute;
    top: 250px;
    left: 550px;
    background-color: #4a3dff;
    width: 175.5px;
    height: 51.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    font-size: 14px;
}
.charity-law-within-container2 {
    position: absolute;
    top: 695px;
    left: 915px;
    font-size: 18px;
    text-align: left;
    display: flex;
    align-items: center;
    width: 533px;
    height: 164px;
}
.image-icon4 {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    position: absolute;
    top: 1100px;
    left: 0px;
    width: 2000px;
    height: 665px;
    object-fit: cover;
}
.how-it-works {
    position: absolute;
    top: 1200px;
    left: 450px;
    font-size: 30px;
    font-weight: 800;
    text-align: left;
}
.div {
    position: absolute;
    top: 1300px;
    left: 450px;
    font-size: 50px;
    font-weight: 800;
    color: #ff3939;
    text-align: left;
}
.div1 {
    position: absolute;
    top: 1500px;
    left: 450px;
    font-size: 50px;
    font-weight: 800;
    color: #ff3939;
    text-align: left;
}
.div2 {
    position: absolute;
    top: 1500px;
    left: 1260px;
    font-size: 50px;
    font-weight: 800;
    color: #ff3939;
    text-align: left;
}
.div3 {
    position: absolute;
    top: 1300px;
    left: 1260px;
    font-size: 50px;
    font-weight: 800;
    color: #ff3939;
    text-align: left;
}
.lorem-ipsum-dolor {
    position: absolute;
    top: 1400px;
    left: 450px;
    font-size: 12px;
    font-weight: 800;
    text-align: left;
    display: flex;
    align-items: center;
    width: 391px;
    height: 80px;
}
.lorem-ipsum-dolor1 {
    position: absolute;
    top: 1600px;
    left: 450px;
    font-size: 12px;
    font-weight: 800;
    text-align: left;
    display: flex;
    align-items: center;
    width: 391px;
    height: 80px;
}
.lorem-ipsum-dolor2 {
    position: absolute;
    top: 1400px;
    left: 1260px;
    font-size: 12px;
    font-weight: 800;
    text-align: left;
    display: flex;
    align-items: center;
    width: 391px;
    height: 80px;
}
.become-volunteer-inner {
    position: absolute;
    top: 1570px;
    left: 450px;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    width: 98px;
    height: 1px;
}
.line-div {
    position: absolute;
    top: 1370px;
    left: 455px;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    width: 98px;
    height: 1px;
}
.become-volunteer-child1 {
    position: absolute;
    top: 1370px;
    left: 1260px;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    width: 98px;
    height: 1px;
}
.become-volunteer-child2 {
    position: absolute;
    top: 1570px;
    left: 1260px;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    width: 98px;
    height: 1px;
}
.button4 {
    position: absolute;
    top: 1600px;
    left: 1260px;
    border-radius: 3px;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 175.5px;
    height: 51.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    font-size: 14px;
}
.image-icon5 {
    position: absolute;
    top: 2020px;
    left: 1255px;
    width: 363px;
    height: 490px;
    object-fit: cover;
}
.what-you-will {
    position: absolute;
    top: 2020px;
    left: 450px;
    font-size: 14px;
    color: #ff4b4b;
}
.member-benefit {
    position: absolute;
    top: 2035px;
    left: 450px;
    font-size: 40px;
}
.recruit-volunteers-from {
    margin-bottom: 0px;
}
.recruit-volunteers-from-our-co {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 32px;
}
.recruit-volunteers-from-container {
    position: absolute;
    top: 2115px;
    left: 400px;
    font-size: 24px;
    color: #cdcdcd;
    text-align: left;
    display: flex;
    align-items: center;
    width: 787px;
}
.rectangle-div {
    position: absolute;
    top: 3369px;
    left: 582px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    width: 233px;
    height: 39px;
}
.first-name {
    position: absolute;
    top: 3381px;
    left: 597px;
    font-weight: 200;
    color: #000;
}
.become-volunteer-child3 {
    position: absolute;
    top: 3369px;
    left: 855px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    width: 233px;
    height: 39px;
}
.last-name {
    position: absolute;
    top: 3381px;
    left: 870px;
    font-weight: 200;
    color: #000;
}
.become-volunteer-child4 {
    position: absolute;
    top: 3422px;
    left: 582px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    width: 233px;
    height: 39px;
}
.become-volunteer-child5 {
    position: absolute;
    top: 3479px;
    left: 582px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    width: 506px;
    height: 39px;
}
.become-volunteer-child6 {
    position: absolute;
    top: 3532px;
    left: 582px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    width: 506px;
    height: 131px;
}
.email {
    position: absolute;
    top: 3434px;
    left: 597px;
    font-weight: 200;
    color: #090808;
}
.subject {
    position: absolute;
    top: 3491px;
    left: 579px;
    font-weight: 200;
    color: #090808;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
}
.message {
    position: absolute;
    top: 3536px;
    left: 582px;
    font-weight: 200;
    color: #090808;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
}
.become-volunteer-child7 {
    position: absolute;
    top: 3422px;
    left: 855px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    width: 233px;
    height: 39px;
}
.phone {
    position: absolute;
    top: 3434px;
    left: 870px;
    font-weight: 200;
    color: #000;
}
.become-volunteer-child8 {
    position: absolute;
    top: 2750px;
    left: 380px;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    width: 1082px;
    height: 1px;
}
.become-volunteer-child9 {
    position: absolute;
    top: 3362.5px;
    left: 326.5px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 61px;
    height: 1px;
}
.box-3233-1810kings-container {
    position: absolute;
    top: 3433px;
    left: 327px;
    font-size: 12px;
    font-weight: 200;
    color: #000;
    text-align: left;
}
.become-volunteer {
    width: 100%;
    position: relative;
    height: 2900px;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    color: #fff;
    font-family: Poppins;
}

