body {
    background-color: #192524;
}

.image-iconback {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    width: 100%;
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
}
.b3 {
    font-size: 50px;
    position: absolute;
    top: 250px;
    left: 900px;
    font-family:  Poppins;
    color: white;
}
.gallery {
    width: 100%;
    position: relative;
    height: 3500px; /* Sesuaikan sesuai kebutuhan */
    overflow: hidden;
}

.gallery1, .poverty, .our-gallery {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Memusatkan elemen */
    font-size: 65px;
    line-height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 408.9px;
}

.gallery1 {
    top: 211px;
}

.our-gallery {
    top: 578px;
    font-weight: 800;
}

.poverty {
    top: 759px;
    font-weight: 600;
}

.image-parent {
    position: absolute;
    top: 883px; /* Sesuaikan sesuai kebutuhan */
    left: 50%;
    transform: translateX(-50%); /* Memusatkan elemen */
    width: 1440px; /* Sesuaikan sesuai kebutuhan */
    height: 598px;
}

.image-icon,
.image-icon1,
.image-icon2,
.image-icon3,
.image-icon4,
.image-icon5,
.image-icon6,
.image-icon7,
.image-icon8,
.image-icon9,
.image-icon10 {
    position: absolute;
    width: 360px;
    height: 299px;
    object-fit: cover;
}

.image-icon {
    top: 0px;
    left: 0px;
}

.image-icon1 {
    top: 299px;
    left: 0px;
}

.image-icon2 {
    top: 0px;
    left: 360px;
}

.image-icon3 {
    top: 299px;
    left: 360px;
}

.image-icon4 {
    top: 0px;
    left: 720px;
}

.image-icon5 {
    top: 299px;
    left: 720px;
}

.image-icon6 {
    top: 0px;
    left: 1080px;
}

.image-icon7 {
    top: 299px;
    left: 1080px;
}

.image-icon8 {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    position: absolute;
    top: 2455px; /* Sesuaikan sesuai kebutuhan */
    left: 50%; /* Memusatkan secara horizontal */
    transform: translateX(-50%); /* Menggeser setengah lebar gambar ke kiri */
    width: 1440px; /* Ukuran tetap */
    height: 699px; /* Ukuran tetap */
    object-fit: cover; /* Pastikan gambar terjaga proporsinya */
}

.play-circle-icon {
    position: absolute;
    top: 2670px; /* Sesuaikan sesuai kebutuhan */
    left: calc(50% - 135px); /* Memusatkan elemen */
    width: 270px;
    height: 270px;
}

.image-icon9 {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    position: absolute;
    top: 1552px; /* Sesuaikan sesuai kebutuhan */
    left: 50%; /* Memusatkan secara horizontal */
    transform: translateX(-50%); /* Menggeser setengah lebar gambar ke kiri */
    width: 1901px; /* Sesuaikan ukuran sesuai kebutuhan */
    height: 792px;
    object-fit: cover; /* Pastikan gambar terjaga proporsinya */
}

.image-icon10 {
    position: absolute;
    top: 1704px; /* Sesuaikan sesuai kebutuhan */
    left: 50%; /* Memusatkan secara horizontal */
    transform: translateX(-50%); /* Menggeser setengah lebar gambar ke kiri */
    width: 1100px; /* Sesuaikan ukuran sesuai kebutuhan */
    height: 488px;
    object-fit: cover; /* Pastikan gambar terjaga proporsinya */
}

.gallery-child {
    position: absolute;
    top: 672.5px; /* Sesuaikan sesuai kebutuhan */
    left: calc(50% - 202.5px); /* Memusatkan elemen */
    border-top: 3px solid #fff;
    box-sizing: border-box;
    width: 405px;
    height: 3px;
}
