.gallery1sec{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr);  
    width: 100%;
    margin: auto;
    margin-bottom: 70px;
}
.judulgallery h2{
    text-align: center;
    color: aliceblue;
    font-size: 3rem;
    padding-top: 100px;
    padding-bottom: 100px;
}
.boxgallery1{
    position: relative;
    overflow: hidden;
    background-color: aqua;
}
.boxgallery1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease; 
}
.boxgallery1:hover img {
    transform: scale(1.1); 
}
.galleryteks{
    padding: 20px;
}
.galleryteks h1{
    color: aliceblue;
    font-size: 4rem;
}
.gallery2sec{
    display: flex;
    flex-direction: column;
    background-color: #192524;
    background-blend-mode: overlay;
    background-image: url(../image/galeribackground2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
}
.gambartengah {
    height: 30rem;
    width: 60rem;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type="radio"] {
    display: none;
}
.image-container {
    display: none;
    height: 30rem;
}


#page1:checked ~ .gambartengah .image-container:nth-child(1),
#page2:checked ~ .gambartengah .image-container:nth-child(2),
#page3:checked ~ .gambartengah .image-container:nth-child(3),
#page4:checked ~ .gambartengah .image-container:nth-child(4),
#page5:checked ~ .gambartengah .image-container:nth-child(5),
#page6:checked ~ .gambartengah .image-container:nth-child(6) {
    display: block;
}
.pagination{
    padding-top: 1rem;
}
    
.pagination label {
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 2px;
    background-color: transparent;
    color: aliceblue;
    border-radius: 5px;
}

.pagination label:hover {
    background-color: #747474;
}

.gallery3sec{
    display: grid;
    background-color: #192524;
    background-blend-mode: overlay;
    background-image: url(../image/galeribackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    
}
.playtengah{
    width: 20rem;
}