body {
    background-color: #192524;
}

.image-iconback {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    width: 100%;
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
}
.b3 {
    font-size: 50px;
    position: absolute;
    top: 250px;
    left: 900px;
    font-family:  Poppins;
    color: white;
}
.home-page-child {
    position: absolute;
    top: 2390px;
    left: 720px;
    background-color: #3c5759;
    width: 720px;
    height: 318px;
}
.home-page-item {
    position: absolute;
    top: 2708px;
    left: -1px;
    background-color: #d1ebdb;
    width: 720px;
    height: 318px;
}
.image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 792px;
}
.home-page-inner {
    position: absolute;
    top: 792px;
    left: 0px;
    width: 393px;
    height: 232px;
}
.image-icon {
    position: absolute;
    top: 792px;
    left: 763px;
    width: 676px;
    height: 232px;
    object-fit: cover;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #d1ebdb;
    width: 371px;
    height: 232px;
}
.donate-now- {
    position: absolute;
    top: 156px;
    left: 0px;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 35px;
    cursor: pointer;
}
.rectangle-parent {
    position: absolute;
    top: 792px;
    left: 393px;
    width: 371px;
    height: 232px;
    text-align: center;
    font-size: 17px;
    color: #2370ff;
    font-family: Inter;
}
.lorem-ipsum-dolor {
    position: absolute;
    top: 792px;
    left: 3px;
    font-size: 17px;
    display: flex;
    font-weight: 600;
    font-family: Inter;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 249px;
    height: 88px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.lorem-ipsum-dolor1 {
    position: absolute;
    top: 792px;
    left: 396px;
    font-size: 17px;
    display: flex;
    font-weight: 600;
    font-family: Inter;
    color: #30421b;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 267px;
    height: 88px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.become-volunteer- {
    position: absolute;
    top: 949px;
    left: 0px;
    font-size: 17px;
    display: flex;
    font-weight: 600;
    font-family: Inter;
    color: #3f82ff;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 236px;
    height: 34px;
    cursor: pointer;
}
.our-causes {
    position: absolute;
    top: 1093px;
    left: 84px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.home-article-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #3c5759;
    width: 1235px;
    height: 377.8px;
}
.image-icon1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 565.2px;
    height: 377.8px;
    object-fit: cover;
}
.charity {
    position: absolute;
    top: 27.95px;
    left: 599.38px;
    display: flex;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    width: 372.7px;
    height: 62.1px;
}
.lorem-ipsum-dolor2 {
    position: absolute;
    top: 164.6px;
    left: 599.38px;
    font-size: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    width: 577.6px;
    height: 95.2px;
}
.home-article {
    position: absolute;
    top: 1241px;
    left: 220px;
    width: 1235px;
    height: 377.8px;
    text-align: center;
    font-size: 40px;
}
.donation-home-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    width: 415px;
    height: 612px;
    object-fit: contain;
}
.image-icon2 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    width: 415px;
    height: 371px;
    object-fit: cover;
}
.lolipop {
    position: absolute;
    top: 371px;
    left: 12px;
    display: flex;
    align-items: center;
    width: 220px;
    height: 70px;
}
.lorem-ipsum-dolor3 {
    position: absolute;
    top: 431px;
    left: 12px;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    display: flex;
    align-items: center;
    width: 389px;
}
.donation-home {
    position: absolute;
    top: 1681px;
    left: 512px;
    width: 415px;
    height: 612px;
    font-size: 40px;
    color: #34363c;
}
.covid-25 {
    position: absolute;
    top: 371px;
    left: 14px;
    display: flex;
    align-items: center;
    width: 220px;
    height: 70px;
}
.lorem-ipsum-dolor4 {
    position: absolute;
    top: 431px;
    left: 14px;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    display: flex;
    align-items: center;
    width: 394px;
}
.donation-home1 {
    position: absolute;
    top: 1681px;
    left: 960px;
    width: 415px;
    height: 612px;
    font-size: 40px;
    color: #353232;
}
.lorem-ipsum-dolor5 {
    position: absolute;
    top: 431px;
    left: 12px;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    display: flex;
    align-items: center;
    width: 392px;
}
.donation-home2 {
    position: absolute;
    top: 1681px;
    left: 64px;
    width: 415px;
    height: 612px;
    font-size: 40px;
    color: #34363c;
}
.image-icon5 {
    position: absolute;
    top: 2390px;
    left: -1px;
    width: 720px;
    height: 318px;
    object-fit: cover;
}
.image-icon6 {
    position: absolute;
    top: 2708px;
    left: 719px;
    width: 720px;
    height: 318px;
    object-fit: cover;
}
.our-story- {
    position: absolute;
    top: 2754px;
    left: 65px;
    font-size: 12px;
    font-weight: 900;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    width: 75px;
    height: 16px;
}
.what-are-we {
    position: absolute;
    top: 2770px;
    left: 65px;
    font-size: 30px;
    font-weight: 300;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    width: 251px;
    height: 44px;
}
.button1 {
    position: relative;
}
.button {
    position: absolute;
    top: 1097px;
    left: 1206px;
    background-color: #f27676;
    width: 157px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
}
.who-are-we {
    position: absolute;
    top: 2450px;
    left: 762px;
    font-size: 30px;
    font-weight: 300;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    width: 251px;
    height: 44px;
}
.our-story-1 {
    position: absolute;
    top: 2436px;
    left: 762px;
    font-size: 12px;
    font-weight: 900;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    width: 75px;
    height: 16px;
}
.heading-3 {
    position: absolute;
    top: 87px;
    left: calc(50% - 43.5px);
    line-height: 62px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87.3px;
    height: 62px;
}
.number-of-supporters {
    position: absolute;
    top: 156px;
    left: calc(50% - 93.09px);
    font-size: 17px;
    line-height: 28.9px;
    color: #919191;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 186.5px;
    height: 24px;
}
.icon1png {
    position: absolute;
    top: 8px;
    left: calc(50% - 30px);
    width: 60px;
    height: 51px;
    overflow: hidden;
    object-fit: cover;
}
.container1 {
    position: absolute;
    height: 100%;
    width: 24.24%;
    top: 0px;
    right: 74.24%;
    bottom: 0px;
    left: 1.52%;
}
.heading-31 {
    position: absolute;
    top: 87px;
    left: calc(50% - 65.12px);
    line-height: 62px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130.6px;
    height: 62px;
}
.fund-raised {
    position: absolute;
    top: 156px;
    left: calc(50% - 49.64px);
    font-size: 17px;
    line-height: 28.9px;
    color: #919191;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99.6px;
    height: 24px;
}
.icon2png {
    position: absolute;
    top: 10px;
    left: calc(50% - 30px);
    width: 60px;
    height: 49px;
    overflow: hidden;
    object-fit: cover;
}
.container2 {
    position: absolute;
    height: 100%;
    width: 24.24%;
    top: 0px;
    right: 50%;
    bottom: 0px;
    left: 25.76%;
}
.heading-32 {
    position: absolute;
    top: 87.5px;
    left: calc(50% - 42.83px);
    line-height: 62px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 62px;
}
.children-helped {
    position: absolute;
    top: 156.5px;
    left: calc(50% - 68.09px);
    font-size: 17px;
    line-height: 28.9px;
    color: #919191;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136.5px;
    height: 24px;
}
.icon3png {
    position: absolute;
    top: 10px;
    left: calc(50% - 30px);
    width: 60px;
    height: 49.5px;
    overflow: hidden;
    object-fit: cover;
}
.container3 {
    position: absolute;
    height: 100%;
    width: 24.24%;
    top: 0px;
    right: 25.76%;
    bottom: 0px;
    left: 50%;
}
.heading-33 {
    position: absolute;
    top: 88px;
    left: calc(50% - 65.34px);
    line-height: 62px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 131px;
    height: 62px;
}
.volunteers-worldwide {
    position: absolute;
    top: 157px;
    left: calc(50% - 92.5px);
    font-size: 17px;
    line-height: 28.9px;
    color: #919191;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185.3px;
    height: 24px;
}
.icon4png {
    position: absolute;
    top: 0px;
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    overflow: hidden;
    object-fit: cover;
}
.container4 {
    position: absolute;
    height: 100%;
    width: 24.24%;
    top: 0px;
    right: 1.52%;
    bottom: 0px;
    left: 74.24%;
}
.container {
    position: absolute;
    top: 3099px;
    left: calc(50% - 661px);
    width: 1320px;
    height: 203.9px;
    text-align: center;
    font-size: 40px;
}
.heading-34 {
    position: absolute;
    top: -5px;
    left: 20px;
    line-height: 55.2px;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 386.2px;
    height: 64px;
}
.verticalborder {
    position: absolute;
    top: 65.19px;
    left: 24.59px;
    border-left: 24px solid #ea5f52;
    box-sizing: border-box;
    width: 24px;
    height: 3px;
}
.container7 {
    position: absolute;
    top: 0px;
    left: calc(50% - 320px);
    width: 640px;
    height: 68.2px;
}
.container6 {
    position: absolute;
    height: calc(100% - 1200.1px);
    width: 48.48%;
    top: -3px;
    right: 51.52%;
    bottom: 1203.1px;
    left: 0%;
    font-size: 46px;
}
.button2 {
    position: absolute;
    top: 12px;
    right: 19.5px;
    background-color: #29353c;
    width: 175.5px;
    height: 51.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
}
.container8 {
    position: absolute;
    height: calc(100% - 1200.1px);
    width: 48.48%;
    top: 0px;
    right: 1.52%;
    bottom: 1200.1px;
    left: 50%;
    font-size: 15px;
}
.jordane-mathieu-nnjtkp37uoe-un-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 413.3px;
    height: 584.6px;
    overflow: hidden;
    object-fit: cover;
}
.gradient {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #000);
}
.partnering-to-create {
    margin: 0;
}
.partnering-to-create-container1 {
    width: 100%;
}
.partnering-to-create-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 37.5px;
    display: flex;
    align-items: center;
    width: 309.8px;
    height: 79.5px;
}
.heading-3-link {
    position: absolute;
    top: 436.56px;
    left: 40px;
    width: 309.6px;
    height: 79.5px;
}
.background {
    position: absolute;
    width: calc(100% - 906.7px);
    top: 133.19px;
    right: 866.7px;
    left: 40px;
    background-color: #000;
    height: 584.6px;
    overflow: hidden;
}
.turning-your-emergency-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 37.5px;
    display: flex;
    align-items: center;
    width: 324.8px;
    height: 117px;
}
.heading-3-link1 {
    position: absolute;
    top: 399.06px;
    left: 40px;
    width: 324.5px;
    height: 117px;
}
.background1 {
    position: absolute;
    width: calc(100% - 906.7px);
    top: 133.19px;
    right: 453.37px;
    left: 453.33px;
    background-color: #000;
    height: 584.6px;
    overflow: hidden;
}
.our-10-favourite-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 37.5px;
    display: flex;
    align-items: center;
    width: 331.2px;
    height: 117px;
}
.heading-3-link2 {
    position: absolute;
    top: 399.06px;
    left: 40px;
    width: 331px;
    height: 117px;
}
.background2 {
    position: absolute;
    width: calc(100% - 906.7px);
    top: 133.19px;
    right: 40.04px;
    left: 866.66px;
    background-color: #000;
    height: 584.6px;
    overflow: hidden;
}
.of-us-went-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 37.5px;
    display: flex;
    align-items: center;
    width: 333.2px;
    height: 117px;
}
.heading-3-link3 {
    position: absolute;
    top: 399.06px;
    left: 40px;
    width: 333px;
    height: 117px;
}
.background3 {
    position: absolute;
    width: calc(100% - 906.7px);
    top: 717.75px;
    right: 866.7px;
    left: 40px;
    background-color: #000;
    height: 584.6px;
    overflow: hidden;
}
.best-less-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 37.5px;
    display: flex;
    align-items: center;
    width: 331.1px;
    height: 79.5px;
}
.heading-3-link4 {
    position: absolute;
    top: 436.56px;
    left: 40px;
    width: 330.9px;
    height: 79.5px;
}
.background4 {
    position: absolute;
    width: calc(100% - 906.7px);
    top: 717.75px;
    right: 453.37px;
    left: 453.33px;
    background-color: #000;
    height: 584.6px;
    overflow: hidden;
}
.david-jones-and-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 37.5px;
    display: flex;
    align-items: center;
    width: 255.9px;
    height: 154.5px;
}
.heading-3-link5 {
    position: absolute;
    top: 361.56px;
    left: 40px;
    width: 255.8px;
    height: 154.5px;
}
.background5 {
    position: absolute;
    width: calc(100% - 906.7px);
    top: 717.75px;
    right: 40.04px;
    left: 866.66px;
    background-color: #000;
    height: 584.6px;
    overflow: hidden;
}
.container5 {
    position: absolute;
    top: 3434px;
    left: calc(50% - 661px);
    width: 1320px;
    height: 1333.3px;
    font-size: 30px;
}
.lorem-ipsum-dolor6 {
    position: absolute;
    top: 2507px;
    left: 762px;
    font-size: 15px;
    font-weight: 800;
    font-family: Montserrat;
    color: #000;
    display: flex;
    align-items: center;
    width: 483px;
    height: 84px;
}
.lorem-ipsum-dolor7 {
    position: absolute;
    top: 2816px;
    left: 65px;
    font-size: 15px;
    font-weight: 800;
    font-family: Montserrat;
    color: #000;
    display: flex;
    align-items: center;
    width: 483px;
    height: 84px;
}
.image-icon7 {
    position: absolute;
    top: 4901px;
    left: 0px;
    width: 1440px;
    height: 673px;
    object-fit: contain;
}
.lorem-ipsum {
    position: absolute;
    top: 5065px;
    left: 841px;
    font-size: 35px;
    display: flex;
    align-items: center;
    width: 307px;
    height: 49px;
}
.time {
    position: absolute;
    top: 5114px;
    left: 841px;
    font-size: 20px;
    display: flex;
    font-weight: 300;
    align-items: center;
    width: 134px;
    height: 49px;
}
.place {
    position: absolute;
    top: 5114px;
    left: 975px;
    font-size: 20px;
    display: flex;
    font-weight: 300;
    align-items: center;
    width: 134px;
    height: 49px;
}
.image-icon8 {
    position: absolute;
    top: 5065px;
    left: -165px;
    width: 883px;
    height: 381px;
    object-fit: cover;
}
.upcoming-event {
    position: absolute;
    top: 4941px;
    left: 29px;
    font-size: 50px;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 661px;
    height: 108px;
}
.b {
    position: absolute;
    top: 5065px;
    left: 743px;
    font-size: 80px;
    display: flex;
    align-items: center;
    width: 53px;
    height: 49px;
}
.b1 {
    position: absolute;
    top: 5189px;
    left: 744px;
    font-size: 80px;
    display: flex;
    align-items: center;
    width: 90px;
    height: 48px;
}
.b2 {
    position: absolute;
    top: 5313px;
    left: 743px;
    font-size: 80px;
    display: flex;
    align-items: center;
    width: 51px;
    height: 49px;
}
.line-div {
    position: absolute;
    top: 5160.5px;
    left: 794.5px;
    border-top: 3px solid #fff;
    box-sizing: border-box;
    width: 310px;
    height: 3px;
}
.home-page-child1 {
    position: absolute;
    top: 5408.5px;
    left: 794.5px;
    border-top: 3px solid #fff;
    box-sizing: border-box;
    width: 310px;
    height: 3px;
}
.home-page-child2 {
    position: absolute;
    top: 5284.5px;
    left: 794.5px;
    border-top: 3px solid #fff;
    box-sizing: border-box;
    width: 310px;
    height: 3px;
}
.lorem-ipsum1 {
    position: absolute;
    top: 5188px;
    left: 841px;
    font-size: 35px;
    display: flex;
    align-items: center;
    width: 307px;
    height: 49px;
}
.time1 {
    position: absolute;
    top: 5237px;
    left: 841px;
    font-size: 20px;
    display: flex;
    font-weight: 300;
    align-items: center;
    width: 134px;
    height: 49px;
}
.place1 {
    position: absolute;
    top: 5237px;
    left: 975px;
    font-size: 20px;
    display: flex;
    font-weight: 300;
    align-items: center;
    width: 134px;
    height: 49px;
}
.lorem-ipsum2 {
    position: absolute;
    top: 5313px;
    left: 841px;
    font-size: 35px;
    display: flex;
    align-items: center;
    width: 307px;
    height: 49px;
}
.time2 {
    position: absolute;
    top: 5362px;
    left: 841px;
    font-size: 20px;
    display: flex;
    font-weight: 300;
    align-items: center;
    width: 134px;
    height: 49px;
}
.place2 {
    position: absolute;
    top: 5362px;
    left: 975px;
    font-size: 20px;
    display: flex;
    font-weight: 300;
    align-items: center;
    width: 134px;
    height: 49px;
}
.month {
    position: absolute;
    top: 5124px;
    left: 741px;
    display: flex;
    align-items: center;
    width: 56px;
    height: 20px;
}
.month1 {
    position: absolute;
    top: 5247px;
    left: 744px;
    display: flex;
    align-items: center;
    width: 56px;
    height: 20px;
}
.month2 {
    position: absolute;
    top: 5372px;
    left: 743px;
    display: flex;
    align-items: center;
    width: 56px;
    height: 20px;
}
.button4 {
    position: absolute;
    top: 4969px;
    left: 966px;
    background-color: #f27676;
    width: 147px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
}
.our-staff {
    position: absolute;
    top: 5647px;
    left: 29px;
    font-size: 46px;
}
.gallery {
    position: absolute;
    top: 6197px;
    left: 619px;
    font-size: 46px;
}
.image-icon9 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 299px;
    object-fit: cover;
}
.image-icon10 {
    position: absolute;
    top: 299px;
    left: 0px;
    width: 360px;
    height: 299px;
    object-fit: cover;
}
.image-icon11 {
    position: absolute;
    top: 0px;
    left: 360px;
    width: 360px;
    height: 299px;
    object-fit: cover;
}
.image-icon12 {
    position: absolute;
    top: 299px;
    left: 360px;
    width: 360px;
    height: 299px;
    object-fit: cover;
}
.image-icon13 {
    position: absolute;
    top: 0px;
    left: 720px;
    width: 360px;
    height: 299px;
    object-fit: cover;
}
.image-icon14 {
    position: absolute;
    top: 299px;
    left: 720px;
    width: 360px;
    height: 299px;
    object-fit: cover;
}
.image-icon15 {
    position: absolute;
    top: 0px;
    left: 1080px;
    width: 360px;
    height: 299px;
    object-fit: cover;
}
.image-icon16 {
    position: absolute;
    top: 299px;
    left: 1080px;
    width: 360px;
    height: 299px;
    object-fit: cover;
}
.image-parent {
    position: absolute;
    top: 6345px;
    left: 0px;
    width: 1440px;
    height: 598px;
}
.volunteer-child {
    position: absolute;
    top: 24px;
    left: 18px;
    border-radius: 20px;
    width: 215px;
    height: 198px;
}
.image-1-icon {
    position: absolute;
    top: 0px;
    left: -9px;
    width: 260px;
    height: 374px;
    object-fit: cover;
}
.volunteer-item {
    position: absolute;
    top: 280px;
    left: -24px;
    border-radius: 30px;
    background-color: #95fe9c;
    width: 189px;
    height: 57px;
}
.drs-name-name {
    position: absolute;
    top: 290px;
    left: 3px;
    display: flex;
    font-weight: 800;
    align-items: center;
    width: 162px;
    height: 18px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.company-owner {
    position: absolute;
    top: 308px;
    left: 3px;
    font-size: 12px;
    font-weight: 300;
    color: #000;
    display: flex;
    align-items: center;
    width: 132px;
    height: 20px;
}
.volunteer {
    position: absolute;
    top: 5763px;
    left: 143px;
    border-radius: 14px;
    background-color: #fff;
    width: 251px;
    height: 360px;
    overflow: hidden;
    font-size: 15px;
    font-family: Inter;
}
.volunteer1 {
    position: absolute;
    top: 5763px;
    left: 745px;
    border-radius: 14px;
    background-color: #fff;
    width: 251px;
    height: 360px;
    overflow: hidden;
    font-size: 15px;
    font-family: Inter;
}
.volunteer2 {
    position: absolute;
    top: 5763px;
    left: 444px;
    border-radius: 14px;
    background-color: #fff;
    width: 251px;
    height: 360px;
    overflow: hidden;
    font-size: 15px;
    font-family: Inter;
}
.volunteer3 {
    position: absolute;
    top: 5763px;
    left: 1046px;
    border-radius: 14px;
    background-color: #fff;
    width: 251px;
    height: 360px;
    overflow: hidden;
    font-size: 15px;
    font-family: Inter;
}
.button6 {
    position: absolute;
    top: 5650px;
    left: 1083px;
    background-color: #f27676;
    width: 175.5px;
    height: 51.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
}
.button8 {
    position: absolute;
    top: 2900px;
    left: 59px;
    background-color: #f27676;
    width: 142px;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
}
.button10 {
    position: absolute;
    top: 2591px;
    left: 762px;
    background-color: #f27676;
    width: 142px;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
}
.button12 {
    position: absolute;
    top: 1531px;
    left: 826px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #f27676;
    width: 158px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
}
.button14 {
    position: absolute;
    top: 2221px;
    left: 976px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #f27676;
    width: 158px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
}
.button16 {
    position: absolute;
    top: 2221px;
    left: 524px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #f27676;
    width: 158px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
}
.button18 {
    position: absolute;
    top: 2221px;
    left: 76px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #f27676;
    width: 158px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
}
.home-page {
    width: 100%;
    position: relative;
    background-color: #192524;
    height: 7022px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-family: Poppins;
}

