.sec-cause{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.sec-cause-article{
    padding-top: 5rem;
    width: auto;
    display: grid;
    gap: 3rem;
    padding-bottom: 2rem;
    margin: auto;
}