body {
    background-color: #192524;
    margin: 0;
}

.image-iconback {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    width: 100%;
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
}
.b3 {
    font-size: 50px;
    position: absolute;
    top: 250px;
    left: 900px;
    font-family:  Poppins;
    color: white;
}
:root {
    --primary-color: #94fba7;
    --secondary-color: #f27676;
    --font-main: 'Poppins', sans-serif;
    --icon-size: 29px;
}

.volunteer-child {
    background-color: var(--primary-color);
}

.button {
    background-color: var(--secondary-color);
}

.our-team-child {
    position: absolute;
    top: 2015px;
    left: 940px;
    border-radius: 50%;
    background-color: #94fba7;
    width: 175px;
    height: 175px;
}
.volunteer-child {
    position: absolute;
    top: 24px;
    left: 25px;
    border-radius: 20px;
    width: 215px;
    height: 198px;
}
.image-1-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 260px;
    height: 374px;
    object-fit: cover;
}
.volunteer-item {
    position: absolute;
    top: 280px;
    left: -24px;
    border-radius: 30px;
    background-color: #95fe9c;
    width: 189px;
    height: 57px;
}
.drs-name-name {
    position: absolute;
    top: 290px;
    left: 3px;
    display: flex;
    font-weight: 800;
    align-items: center;
    width: 162px;
    height: 18px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.company-owner {
    position: absolute;
    top: 308px;
    left: 3px;
    font-size: 12px;
    font-weight: 300;
    color: #000;
    display: flex;
    align-items: center;
    width: 132px;
    height: 20px;
}
.volunteer {
    position: absolute;
    top: 410px;
    left: 565px;
    border-radius: 14px;
    background-color: #fff;
    width: 251px;
    height: 360px;
    overflow: hidden;
}
.volunteer1 {
    position: absolute;
    top: 1294px;
    left: 1050px;
    border-radius: 14px;
    background-color: #fff;
    width: 251px;
    height: 360px;
    overflow: hidden;
}
.volunteer2 {
    position: absolute;
    top: 410px;
    left: 879px;
    border-radius: 14px;
    background-color: #fff;
    width: 251px;
    height: 360px;
    overflow: hidden;
}
.volunteer3 {
    position: absolute;
    top: 410px;
    left: 1185px;
    border-radius: 14px;
    background-color: #fff;
    width: 251px;
    height: 360px;
    overflow: hidden;
}
.volunteer4 {
    position: absolute;
    top: 900px;
    left: 565px;
    border-radius: 14px;
    background-color: #fff;
    width: 251px;
    height: 360px;
    overflow: hidden;
}
.volunteer5 {
    position: absolute;
    top: 900px;
    left: 880px;
    border-radius: 14px;
    background-color: #fff;
    width: 251px;
    height: 360px;
    overflow: hidden;
}
.volunteer6 {
    position: absolute;
    top: 900px;
    left: 1190px;
    border-radius: 14px;
    background-color: #fff;
    width: 251px;
    height: 360px;
    overflow: hidden;
}
.volunteer7 {
    position: absolute;
    top: 1294px;
    left: 720px;
    border-radius: 14px;
    background-color: #fff;
    width: 251px;
    height: 360px;
    overflow: hidden;
}
.lorem-ipsum-dolor {
    position: absolute;
    top: 80px;
    left: 950px;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 755px;
    height: 144px;
}
.our-team1 {
    position: absolute;
    top: 70px;
    left: 610px;
    font-size: 70px;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 476px;
    height: 114px;
}
.our-team-item {
    position: absolute;
    top: 165px;
    left: 580px;
    border-top: 3px solid #fff;
    box-sizing: border-box;
    width: 345px;
    height: 3px;
}
.want-to-get {
    position: absolute;
    top: 2004px;
    left: 603px;
    font-size: 70px;
    font-weight: 800;
    font-family: Poppins;
    display: flex;
    align-items: center;
    width: 804px;
    height: 186px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button1 {
    position: relative;
    font-weight: 900;
}
.button {
    position: absolute;
    top: 2524px;
    left: 589px;
    background-color: #f27676;
    width: 263px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    color: #f7f7f7;
    font-family: Poppins;
}
.lorem-ipsum-dolor1 {
    position: absolute;
    top: 2190px;
    left: 270px;
    font-size: 27px;
    font-weight: 300;
    font-family: Poppins;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 315px;
}
.button3 {
    position: relative;
}
.button2 {
    position: absolute;
    top: 1771px;
    left: 950px;
    background-color: #f27676;
    width: 114px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    color: #000;
    font-family: Poppins;
}
.mail-icon {
    position: absolute;
    top: 1161px;
    left: 105px;
    width: 29px;
    height: 29px;
    overflow: hidden;
}
.icon {
    position: absolute;
    height: 0.58%;
    width: 1.68%;
    top: 34.79%;
    right: 67.42%;
    bottom: 64.63%;
    left: 30.9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon1 {
    position: absolute;
    height: 0.58%;
    width: 1.68%;
    top: 34.85%;
    right: 43.39%;
    bottom: 64.57%;
    left: 54.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon2 {
    position: absolute;
    height: 0.58%;
    width: 1.68%;
    top: 34.94%;
    right: 20.19%;
    bottom: 64.48%;
    left: 78.13%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon3 {
    position: absolute;
    height: 0.58%;
    width: 1.68%;
    top: 50.44%;
    right: 19.99%;
    bottom: 48.98%;
    left: 78.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon4 {
    position: absolute;
    height: 0.58%;
    width: 1.68%;
    top: 50.56%;
    right: 43.39%;
    bottom: 48.86%;
    left: 54.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon5 {
    position: absolute;
    height: 0.58%;
    width: 1.68%;
    top: 50.62%;
    right: 67.07%;
    bottom: 48.8%;
    left: 31.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon6 {
    position: absolute;
    height: 0.58%;
    width: 1.68%;
    top: 50.83%;
    right: 91.03%;
    bottom: 48.6%;
    left: 7.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.facebook-icon {
    position: absolute;
    top: 1157px;
    left: 180px;
    width: 33px;
    height: 33px;
    overflow: hidden;
}
.icon7 {
    position: absolute;
    height: 0.82%;
    width: 1.05%;
    top: 34.61%;
    right: 62.34%;
    bottom: 64.57%;
    left: 36.61%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon8 {
    position: absolute;
    height: 0.82%;
    width: 1.05%;
    top: 34.67%;
    right: 38.31%;
    bottom: 64.5%;
    left: 60.64%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon9 {
    position: absolute;
    height: 0.82%;
    width: 1.05%;
    top: 34.76%;
    right: 15.12%;
    bottom: 64.41%;
    left: 83.83%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon10 {
    position: absolute;
    height: 0.82%;
    width: 1.05%;
    top: 50.25%;
    right: 14.91%;
    bottom: 48.92%;
    left: 84.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon11 {
    position: absolute;
    height: 0.82%;
    width: 1.05%;
    top: 50.37%;
    right: 38.31%;
    bottom: 48.8%;
    left: 60.64%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon12 {
    position: absolute;
    height: 0.82%;
    width: 1.05%;
    top: 50.43%;
    right: 61.99%;
    bottom: 48.74%;
    left: 36.96%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon13 {
    position: absolute;
    height: 0.82%;
    width: 1.05%;
    top: 50.64%;
    right: 85.95%;
    bottom: 48.53%;
    left: 13%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.twitter-icon {
    position: absolute;
    top: 1161px;
    left: 252px;
    width: 29px;
    height: 29px;
    overflow: hidden;
}
.icon14 {
    position: absolute;
    height: 0.65%;
    width: 1.85%;
    top: 34.76%;
    right: 57.13%;
    bottom: 64.59%;
    left: 41.03%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon15 {
    position: absolute;
    height: 0.65%;
    width: 1.85%;
    top: 34.82%;
    right: 33.1%;
    bottom: 64.53%;
    left: 65.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon16 {
    position: absolute;
    height: 0.65%;
    width: 1.85%;
    top: 34.91%;
    right: 9.9%;
    bottom: 64.44%;
    left: 88.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon17 {
    position: absolute;
    height: 0.65%;
    width: 1.85%;
    top: 50.4%;
    right: 9.7%;
    bottom: 48.95%;
    left: 88.46%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon18 {
    position: absolute;
    height: 0.65%;
    width: 1.85%;
    top: 50.52%;
    right: 33.1%;
    bottom: 48.83%;
    left: 65.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon19 {
    position: absolute;
    height: 0.65%;
    width: 1.85%;
    top: 50.58%;
    right: 56.78%;
    bottom: 48.77%;
    left: 41.37%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon20 {
    position: absolute;
    height: 0.65%;
    width: 1.85%;
    top: 50.79%;
    right: 80.74%;
    bottom: 48.56%;
    left: 17.42%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.instagram-icon {
    position: absolute;
    top: 1161px;
    left: 327px;
    width: 29px;
    height: 29px;
    overflow: hidden;
}
.icon21 {
    position: absolute;
    height: 0.73%;
    width: 1.68%;
    top: 34.72%;
    right: 52%;
    bottom: 64.56%;
    left: 46.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon22 {
    position: absolute;
    height: 0.73%;
    width: 1.68%;
    top: 34.78%;
    right: 27.97%;
    bottom: 64.49%;
    left: 70.35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon23 {
    position: absolute;
    height: 0.73%;
    width: 1.68%;
    top: 34.87%;
    right: 4.78%;
    bottom: 64.4%;
    left: 93.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon24 {
    position: absolute;
    height: 0.73%;
    width: 1.68%;
    top: 50.36%;
    right: 4.57%;
    bottom: 48.91%;
    left: 93.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon25 {
    position: absolute;
    height: 0.73%;
    width: 1.68%;
    top: 50.48%;
    right: 27.97%;
    bottom: 48.79%;
    left: 70.35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon26 {
    position: absolute;
    height: 0.73%;
    width: 1.68%;
    top: 50.54%;
    right: 51.65%;
    bottom: 48.73%;
    left: 46.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon27 {
    position: absolute;
    height: 0.73%;
    width: 1.68%;
    top: 50.75%;
    right: 75.61%;
    bottom: 48.52%;
    left: 22.71%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.our-team-inner {
    position: absolute;
    top: 1920px;
    left: 321px;
    max-height: 100%;
    width: 799px;
}
.our-team {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}
.our-team-parent {
    width: 100%;
    position: relative;
    height: 2940px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-family: Inter;
}

