body {
    background-color: #192524;
}

.image-iconback {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    width: 100%;
    height: 500px;
    object-fit: fill;
    overflow: hidden;
}

.program-child {
    position: absolute;
    top: 488px;
    left: 0px;
    width: 1440px;
    height: 499px;
}
.image-icon {
    position: absolute;
    top: 650px;
    left: 265px;
    border-radius: 20px;
    width: 280px;
    height: 250px;
    object-fit: cover;
}
.image-icon1 {
    position: absolute;
    top: 650px;
    left: 625px;
    border-radius: 20px;
    width: 280px;
    height: 250px;
    object-fit: cover;
}
.image-icon2 {
    position: absolute;
    top: 650px;
    left: 990px;
    border-radius: 20px;
    width: 280px;
    height: 250px;
    object-fit: cover;
}
.image-icon3 {
    position: absolute;
    top: 650px;
    left: 1345px;
    border-radius: 20px;
    width: 280px;
    height: 250px;
    object-fit: cover;
}
.image-icon4 {
    position: absolute;
    top: 1000px;
    left: 265px;
    border-radius: 20px;
    width: 280px;
    height: 250px;
    object-fit: cover;
}
.image-icon5 {
    position: absolute;
    top: 1000px;
    left: 625px;
    border-radius: 20px;
    width: 280px;
    height: 250px;
    object-fit: cover;
}
.image-icon6 {
    position: absolute;
    top: 1000px;
    left: 990px;
    border-radius: 20px;
    width: 280px;
    height: 250px;
    object-fit: cover;
}
.image-icon7 {
    position: absolute;
    top: 1000px;
    left: 1345px;
    border-radius: 20px;
    width: 280px;
    height: 250px;
    object-fit: cover;
}
.program-item {
    position: absolute;
    top: 1859px;
    left: 2000px;
    width: 1440px;
    height: 1579px;
}
.the-right-program {
    position: absolute;
    top: 1555px;
    left: 545px;
    font-size: 48px;
}
.our-mission {
    position: absolute;
    top: 1725px;
    left: 843px;
}
.program-inner {
    position: absolute;
    top: 2145px;
    left: 521.5px;
    border-radius: 50%;
    background-color: #ffcb69;
    width: 175px;
    height: 175px;
}
.rectangle-div {
    position: absolute;
    top: 2225px;
    left: 310px;
    border-radius: 20px;
    background-color: #f6f5f5;
    width: 600px;
    height: 350px;
}
.program-child1 {
    position: absolute;
    left: 310px;
    border-radius: 20px;
    background-color: #f6f5f5;
    width: 600px;
    height: 350px;
}
.program-child2 {
    position: absolute;
    top: 2970px;
    left: 1020px;
    border-radius: 20px;
    background-color: #f6f5f5;
    width: 600px;
    height: 350px;
}
.frame-icon {
    position: absolute;
    top: -809px;
    left: -475px;
    width: 130px;
    height: 128px;
}
.ellipse-div {
    position: absolute;
    top: 2145px;
    left: 1233.5px;
    border-radius: 50%;
    background-color: #ffcb69;
    width: 175px;
    height: 175px;
}
.program-child3 {
    position: absolute;
    top: 2225px;
    left: 1020px;
    border-radius: 20px;
    background-color: #f6f5f5;
    width: 600px;
    height: 350px;
}
.program-child4 {
    position: absolute;
    top: -60px;
    left: 238px;
    width: 130px;
    height: 128px;
}
.program-child5 {
    position: absolute;
    top: 2883px;
    left: 523.5px;
    border-radius: 50%;
    background-color: #ffcb69;
    width: 175px;
    height: 175px;
}
.program-child6 {
    position: absolute;
    top: 2946px;
    left: 310px;
    border-radius: 20px;
    background-color: #f6f5f5;
    width: 600px;
    height: 350px;
}
.program-child7 {
    position: absolute;
    top: 2006px;
    left: 510px;
    border-radius: 20px;
    background-color: #f6f5f5;
    width: 600px;
    height: 350px;
}
.program-child8 {
    position: absolute;
    top: 2550px;
    left: 910px;
    border-radius: 20px;
    background-color: #f6f5f5;
    width: 600px;
    height: 350px;
}
.halosaur-duckbilled-barracudin {
    position: absolute;
    top: 2360px;
    left: 350px;
    font-size: 33px;
    display: inline-block;
    width: 510px;
    height: 185px;
}
.long-finned-char-cookie-cutter {
    position: absolute;
    top: 3095px;
    left: 360px;
    font-size: 34px;
    display: inline-block;
    width: 510px;
    height: 185px;
}
.frame-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130px;
    height: 128px;
}
.image-3 {
    position: absolute;
    top: -25px;
    left: -91px;
    width: 83px;
    height: 82px;
}
.icon5png {
    position: absolute;
    top: -22px;
    left: 258px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    object-fit: cover;
}
.icon4png {
    position: absolute;
    top: 18px;
    left: calc(50% - 42px);
    width: 85px;
    height: 85px;
    overflow: hidden;
    object-fit: cover;
}
.icon3png {
    position: absolute;
    top: -40px;
    left: 255px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    object-fit: cover;
}
.icon2png {
    position: absolute;
    top: -793px;
    left: -451px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    object-fit: cover;
}
.icon1png {
    position: absolute;
    top: 200px;
    left: calc(50% - 42px);
    width: 85px;
    height: 85px;
    overflow: hidden;
    object-fit: cover;
}.group-parent {
    position: absolute;
    top: 2904px;
    left: 545.5px;
    width: 130px;
    height: 128px;
}
.program-child7 {
    position: absolute;
    top: 2883px;
    left: 1233.5px;
    border-radius: 50%;
    background-color: #ffcb69;
    width: 175px;
    height: 175px;
}
.program-child8 {
    position: absolute;
    top: 2946px;
    left: 1020px;
    border-radius: 20px;
    background-color: #f6f5f5;
    width: 600px;
    height: 350px;
}
.program-child9 {
    position: absolute;
    top: -47px;
    left: 236px;
    width: 130px;
    height: 128px;
}
.donation {
    position: absolute;
    top: 2305px;
    left: 527px;
}
.education {
    position: absolute;
    top: 2305px;
    left: 1245px;
}
.health {
    position: absolute;
    top: 3038px;
    left: 1260px;
}
.empowerment {
    position: absolute;
    top: 3038px;
    left: 478px;
}
.cause-our-program {
    position: absolute;
    top: 120px;
    left: 860px;
    font-size: 24px;
    line-height: 140%;
    font-family: Inter;
    color: #fff;
    text-align: left;
}
.various-things-we {
    position: absolute;
    top: 150px;
    left: 490px;
    font-size: 50px;
    display: flex;
    font-family: Inter;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 919px;
}
.line-div {
    position: absolute;
    top: 465px;
    left: 350px;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    width: 1152px;
    height: 1px;
}
.program-child10 {
    position: absolute;
    top: 1865px;
    left: 365px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 1200px;
    height: 1px;
}
.program-child11 {
    position: absolute;
    top: 505px;
    left: 470px;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    width: 844px;
    height: 1px;
}
.program-child12 {
    position: absolute;
    top: 1950px;
    left: 515px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 844px;
    height: 1px;
}
.michog-paradise-fish {
    position: absolute;
    top: 2360px;
    left: 1065px;
    font-size: 33px;
    display: inline-block;
    width: 510px;
    height: 185px;
}
.catfish-cobia-spookfish {
    position: absolute;
    top: 3095px;
    left: 1082px;
    font-size: 33px;
    display: inline-block;
    width: 510px;
    height: 185px;
}
.acumalaka {
    position: absolute;
    top: 250px;
    left: 530px;
    font-size: 25px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 845px;
    height: 60px;
}
.michog-paradise-fish1 {
    position: absolute;
    top: 340px;
    left: 445px;
    font-size: 25px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 60px;
}
.program {
    width: 100%;
    position: relative;
    background-color: #192524;
    height: 3438px;
    overflow: hidden;
    text-align: center;
    font-size: 36px;
    color: #000;
    font-family: Poppins;
}
    