.cause-child {
    position: absolute;
    top: 1176px;
    left: 969px;
    background-color: #d9d9d9;
    width: 450px;
    height: 78px;
}
.our-cause {
    position: absolute;
    top: 250px;
    left: 534px;
    font-size: 64px;
    font-family: Inter;
    color: #fff;
    text-align: center;
}
.cause-item {
    position: absolute;
    top: 574px;
    left: 122px;
    background-color: #d1ebdb;
    width: 775px;
    height: 264px;
}
.cause-inner {
    position: absolute;
    top: 882px;
    left: 122px;
    background-color: #d1ebdb;
    width: 775px;
    height: 264px;
}
.rectangle-div {
    position: absolute;
    top: 1207px;
    left: 122px;
    background-color: #d1ebdb;
    width: 775px;
    height: 264px;
}
.cause-child1 {
    position: absolute;
    top: 1532px;
    left: 122px;
    background-color: #d1ebdb;
    width: 775px;
    height: 264px;
}
.cause-child2 {
    position: absolute;
    top: 1857px;
    left: 122px;
    background-color: #d1ebdb;
    width: 775px;
    height: 264px;
}
.cause-child3 {
    position: absolute;
    top: 2182px;
    left: 122px;
    background-color: #d1ebdb;
    width: 775px;
    height: 264px;
}
.image-icon {
    position: absolute;
    top: 574px;
    left: 122px;
    width: 245px;
    height: 264px;
    object-fit: cover;
}
.image-icon1 {
    position: absolute;
    top: 882px;
    left: 122px;
    width: 245px;
    height: 264px;
    object-fit: cover;
}
.image-icon2 {
    position: absolute;
    top: 1207px;
    left: 122px;
    width: 245px;
    height: 264px;
    object-fit: cover;
}
.image-icon3 {
    position: absolute;
    top: 1532px;
    left: 122px;
    width: 245px;
    height: 264px;
    object-fit: cover;
}
.image-icon4 {
    position: absolute;
    top: 1857px;
    left: 122px;
    width: 245px;
    height: 264px;
    object-fit: cover;
}
.image-icon5 {
    position: absolute;
    top: 2182px;
    left: 122px;
    width: 245px;
    height: 264px;
    object-fit: cover;
}
.b {
    position: absolute;
    top: 641px;
    left: 387px;
    font-size: 15px;
    line-height: 78px;
    display: flex;
    color: #fff;
    align-items: center;
    width: 61px;
    height: 21px;
}
.b1 {
    position: absolute;
    top: 949px;
    left: 387px;
    font-size: 15px;
    line-height: 78px;
    display: flex;
    color: #fff;
    align-items: center;
    width: 61px;
    height: 21px;
}
.b2 {
    position: absolute;
    top: 1274px;
    left: 387px;
    font-size: 15px;
    line-height: 78px;
    display: flex;
    color: #fff;
    align-items: center;
    width: 61px;
    height: 21px;
}
.b3 {
    position: absolute;
    top: 1599px;
    left: 387px;
    font-size: 15px;
    line-height: 78px;
    display: flex;
    color: #fff;
    align-items: center;
    width: 61px;
    height: 21px;
}
.b4 {
    position: absolute;
    top: 1924px;
    left: 387px;
    font-size: 15px;
    line-height: 78px;
    display: flex;
    color: #fff;
    align-items: center;
    width: 61px;
    height: 21px;
}
.b5 {
    position: absolute;
    top: 2249px;
    left: 387px;
    font-size: 15px;
    line-height: 78px;
    display: flex;
    color: #fff;
    align-items: center;
    width: 61px;
    height: 21px;
}
.b6 {
    position: absolute;
    top: 1184px;
    left: 1085px;
    font-size: 15px;
    line-height: 78px;
    display: flex;
    color: #fff;
    align-items: center;
    width: 61px;
    height: 21px;
}
.b7 {
    position: absolute;
    top: 1283px;
    left: 1085px;
    font-size: 15px;
    line-height: 78px;
    display: flex;
    color: #fff;
    align-items: center;
    width: 61px;
    height: 21px;
}
.b8 {
    position: absolute;
    top: 1382px;
    left: 1085px;
    font-size: 15px;
    line-height: 78px;
    display: flex;
    color: #fff;
    align-items: center;
    width: 61px;
    height: 21px;
}
.line-icon {
    position: absolute;
    top: 671px;
    left: 387px;
    max-height: 100%;
    width: 320px;
}
.cause-child4 {
    position: absolute;
    top: 979px;
    left: 387px;
    max-height: 100%;
    width: 320px;
}
.cause-child5 {
    position: absolute;
    top: 1304px;
    left: 387px;
    max-height: 100%;
    width: 320px;
}
.cause-child6 {
    position: absolute;
    top: 1629px;
    left: 387px;
    max-height: 100%;
    width: 320px;
}
.cause-child7 {
    position: absolute;
    top: 1954px;
    left: 387px;
    max-height: 100%;
    width: 320px;
}
.cause-child8 {
    position: absolute;
    top: 2279px;
    left: 387px;
    max-height: 100%;
    width: 320px;
}
.cause-child9 {
    position: absolute;
    top: 1214px;
    left: 1085px;
    max-height: 100%;
    width: 320px;
}
.cause-child10 {
    position: absolute;
    top: 1313px;
    left: 1085px;
    max-height: 100%;
    width: 320px;
}
.cause-child11 {
    position: absolute;
    top: 1412px;
    left: 1085px;
    max-height: 100%;
    width: 320px;
}
.cause-child12 {
    position: absolute;
    top: 671px;
    left: 387px;
    max-height: 100%;
    width: 263px;
}
.cause-child13 {
    position: absolute;
    top: 979px;
    left: 387px;
    max-height: 100%;
    width: 263px;
}
.cause-child14 {
    position: absolute;
    top: 1304px;
    left: 387px;
    max-height: 100%;
    width: 263px;
}
.cause-child15 {
    position: absolute;
    top: 1629px;
    left: 387px;
    max-height: 100%;
    width: 263px;
}
.cause-child16 {
    position: absolute;
    top: 1954px;
    left: 387px;
    max-height: 100%;
    width: 263px;
}
.cause-child17 {
    position: absolute;
    top: 2279px;
    left: 387px;
    max-height: 100%;
    width: 263px;
}
.cause-child18 {
    position: absolute;
    top: 1214px;
    left: 1085px;
    max-height: 100%;
    width: 263px;
}
.cause-child19 {
    position: absolute;
    top: 1313px;
    left: 1085px;
    max-height: 100%;
    width: 263px;
}
.cause-child20 {
    position: absolute;
    top: 1412px;
    left: 1085px;
    max-height: 100%;
    width: 263px;
}
.donated {
    position: absolute;
    top: 674px;
    left: 387px;
    font-weight: 800;
    text-align: center;
}
.donated1 {
    position: absolute;
    top: 982px;
    left: 387px;
    font-weight: 800;
    text-align: center;
}
.donated2 {
    position: absolute;
    top: 1307px;
    left: 387px;
    font-weight: 800;
    text-align: center;
}
.donated3 {
    position: absolute;
    top: 1632px;
    left: 387px;
    font-weight: 800;
    text-align: center;
}
.donated4 {
    position: absolute;
    top: 1957px;
    left: 387px;
    font-weight: 800;
    text-align: center;
}
.donated5 {
    position: absolute;
    top: 2282px;
    left: 387px;
    font-weight: 800;
    text-align: center;
}
.donated6 {
    position: absolute;
    top: 1217px;
    left: 1085px;
    font-weight: 800;
    text-align: center;
}
.donated7 {
    position: absolute;
    top: 1316px;
    left: 1085px;
    font-weight: 800;
    text-align: center;
}
.donated8 {
    position: absolute;
    top: 1415px;
    left: 1085px;
    font-weight: 800;
    text-align: center;
}
.goal-3000000 {
    position: absolute;
    top: 674px;
    left: 618px;
    font-weight: 800;
    text-align: center;
}
.goal-30000001 {
    position: absolute;
    top: 982px;
    left: 618px;
    font-weight: 800;
    text-align: center;
}
.goal-30000002 {
    position: absolute;
    top: 1307px;
    left: 618px;
    font-weight: 800;
    text-align: center;
}
.goal-30000003 {
    position: absolute;
    top: 1632px;
    left: 618px;
    font-weight: 800;
    text-align: center;
}
.goal-30000004 {
    position: absolute;
    top: 1957px;
    left: 618px;
    font-weight: 800;
    text-align: center;
}
.goal-30000005 {
    position: absolute;
    top: 2282px;
    left: 618px;
    font-weight: 800;
    text-align: center;
}
.goal-30000006 {
    position: absolute;
    top: 1217px;
    left: 1316px;
    font-weight: 800;
    text-align: center;
}
.goal-30000007 {
    position: absolute;
    top: 1316px;
    left: 1316px;
    font-weight: 800;
    text-align: center;
}
.goal-30000008 {
    position: absolute;
    top: 1415px;
    left: 1316px;
    font-weight: 800;
    text-align: center;
}
.creeper-explosion {
    position: absolute;
    top: 591px;
    left: 387px;
    font-size: 20px;
    line-height: 78px;
    display: flex;
    align-items: center;
    width: 285px;
    height: 41px;
}
.creeper-explosion1 {
    position: absolute;
    top: 899px;
    left: 387px;
    font-size: 20px;
    line-height: 78px;
    display: flex;
    align-items: center;
    width: 285px;
    height: 41px;
}
.creeper-explosion2 {
    position: absolute;
    top: 1224px;
    left: 387px;
    font-size: 20px;
    line-height: 78px;
    display: flex;
    align-items: center;
    width: 285px;
    height: 41px;
}
.creeper-explosion3 {
    position: absolute;
    top: 1549px;
    left: 387px;
    font-size: 20px;
    line-height: 78px;
    display: flex;
    align-items: center;
    width: 285px;
    height: 41px;
}
.creeper-explosion4 {
    position: absolute;
    top: 1874px;
    left: 387px;
    font-size: 20px;
    line-height: 78px;
    display: flex;
    align-items: center;
    width: 285px;
    height: 41px;
}
.creeper-explosion5 {
    position: absolute;
    top: 2199px;
    left: 387px;
    font-size: 20px;
    line-height: 78px;
    display: flex;
    align-items: center;
    width: 285px;
    height: 41px;
}
.lorem-ipsum-dolor {
    position: absolute;
    top: 706px;
    left: 387px;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 423px;
    height: 51px;
}
.lorem-ipsum-dolor1 {
    position: absolute;
    top: 1014px;
    left: 387px;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 423px;
    height: 51px;
}
.lorem-ipsum-dolor2 {
    position: absolute;
    top: 1339px;
    left: 387px;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 423px;
    height: 51px;
}
.lorem-ipsum-dolor3 {
    position: absolute;
    top: 1664px;
    left: 387px;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 423px;
    height: 51px;
}
.lorem-ipsum-dolor4 {
    position: absolute;
    top: 1989px;
    left: 387px;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 423px;
    height: 51px;
}
.lorem-ipsum-dolor5 {
    position: absolute;
    top: 2314px;
    left: 387px;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 423px;
    height: 51px;
}
.button1 {
    position: relative;
}
.button {
    position: absolute;
    top: 774px;
    left: 387px;
    background-color: #f27676;
    width: 135px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}
.button2 {
    position: absolute;
    top: 1082px;
    left: 387px;
    background-color: #f27676;
    width: 135px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}
.button4 {
    position: absolute;
    top: 1407px;
    left: 387px;
    background-color: #f27676;
    width: 135px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}
.button6 {
    position: absolute;
    top: 1732px;
    left: 387px;
    background-color: #f27676;
    width: 135px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}
.button8 {
    position: absolute;
    top: 2057px;
    left: 387px;
    background-color: #f27676;
    width: 135px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}
.button10 {
    position: absolute;
    top: 2382px;
    left: 387px;
    background-color: #f27676;
    width: 135px;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}
.image-icon6 {
    position: absolute;
    top: 574px;
    left: 968px;
    width: 401px;
    height: 496px;
    object-fit: cover;
}
.want-to-donate {
    position: absolute;
    top: 633px;
    left: 1009px;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    color: #fff;
    align-items: center;
    width: 266px;
    height: 73px;
}
.not-a-problem {
    position: absolute;
    top: 723px;
    left: 1009px;
    font-size: 20px;
    line-height: 35px;
    font-weight: 300;
    color: #fff;
    display: flex;
    align-items: center;
    width: 288px;
    height: 62px;
}
.or-email-us {
    position: absolute;
    top: 877px;
    left: 1009px;
    font-size: 20px;
    line-height: 35px;
    font-weight: 300;
    color: #fff;
    display: flex;
    align-items: center;
    width: 288px;
    height: 62px;
}
.indonesia {
    position: absolute;
    top: 780px;
    left: 1009px;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    color: #fff;
    align-items: center;
    width: 305px;
    height: 69px;
}
.uhuyuhuygmailcom {
    position: absolute;
    top: 905px;
    left: 1009px;
    font-size: 20px;
    line-height: 35px;
    display: flex;
    color: #fff;
    align-items: center;
    width: 305px;
    height: 69px;
}
.urgent-causes {
    position: absolute;
    top: 1110px;
    left: 968px;
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    width: 339px;
    height: 52px;
}
.image-icon7 {
    position: absolute;
    top: 1174px;
    left: 968px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.image-icon8 {
    position: absolute;
    top: 1273px;
    left: 968px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.image-icon9 {
    position: absolute;
    top: 1372px;
    left: 968px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.cause-child21 {
    position: absolute;
    top: 1512px;
    left: 968px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 416px;
    height: 169px;
}
.lorem-ipsum-dolor6 {
    position: absolute;
    top: 1554px;
    left: 997px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    width: 359px;
    height: 112px;
}
.uhuhuyuhuyuhuyuhuy {
    position: absolute;
    top: 1520px;
    left: 997px;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    width: 247px;
    height: 40px;
}
.cause {
    width: 100%;
    position: relative;
    background-color: #192524;
    height: 2696px;
    overflow: hidden;
    text-align: left;
    font-size: 10px;
    color: #000;
    font-family: Poppins;
}

body {
    background-color: #192524;
}

.image-iconback {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    width: 100%;
    height: 500px;
    object-fit: fill;
    overflow: hidden;
}

.judul{
    font-size: 50px;
    position: absolute;
    top: 250px;
    left: 775px;
    font-family:  Poppins;
    color: white;
}
.cause {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%; /* Atur lebar sesuai kebutuhan */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.causecard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.kartunama {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: beige;
}

img.image-icon, img.line-icon {
    width: 50px;
    height: auto;
    margin: 5px;
}

button, .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #ff4f4f;
}