.sec-porftfolio-detail{
    display: flex;
    width: 1240px;
    height: 603px;
}
.sec-image-atas img{
    display: flex;
    width: 1240px;
    height: 603px;
    margin-top: 5rem;
    justify-self: center;
}