/* Gaya dasar untuk halaman */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #192524;
}

/* Container utama */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.judul {
    background-color: #2fa27b;
    width: 100%;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}
/* Kontainer produk */
.product-container {
    display: grid;
    gap: 20px;
    margin-top: 20x;
}

/* Gaya untuk komponen produk */
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-card h2 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
}

.product-card p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.product-card .price {
    font-size: 1.1rem;
    color: #37bc9b;
    font-weight: bold;
}

.product-card button {
    background-color: #37bc9b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 3px;
    margin-top: 10px;
}

.product-card button:hover {
    background-color: #2fa27b;
}
