.ourshop{
    width: 100%;
    text-align: justify;
    font-size: 1.5rem;
    color: aliceblue;
    margin: 5rem;
}
.ourshop h1{
    text-decoration: underline;
    text-decoration-color: #ff6868;
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;

}
.shopcardsec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
    padding-bottom: 2rem;
    margin: 100px;
}
.btnshop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 6rem;
}