.body{
    margin: 0px;
    background-color:#192524 ;
    min-height: 900px;
    color: rgb(255, 0, 0);
}
p{
    color: aqua;
}
.header {
    margin: 0 auto;
    width: 100%;
    min-height: 200px;
    overflow: hidden; 
    background-color: #f0f8ff; 
    display: flex;
    justify-content: flex-start;
}
.header img {
    width: auto;
    height: auto;
    height: fit-content; 
    object-fit: fill;
}
.judul{
    height: fit-content;
    align-items: center;
}
.judul h1{
    position: absolute;
}