include web_templating/component/pug/_component.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="web_templating/component/css/menu.css")
        link(rel="stylesheet", href="web_templating/component/css/nav.css")
        link(rel="stylesheet", href="web_templating/component/css/shop.css")
        link(rel="stylesheet", href="web_templating/component/css/button.css")
        link(rel="stylesheet", href="web_templating/component/css/footer.css")
        link(rel="stylesheet", href="web_templating/component/css/volunteer.css")
        title tytyd
    body        
        block menu
            +menu
        block shop
            +shop
        block button
            +button
        block footer
            +footer
        block volunteer
            +volunteer