extends template.pug 

block head
  link(rel="stylesheet" href="web_templating/csshalaman/about.css")

block main
  img.image-icon(src="web_templating/image/image1.png", alt="about")
  b.b3 About
  .wrapper
    figure.card
      div.card-content
        img.article-image(src="web_templating/image/article.png", alt="Article Image")
        figcaption
          h2 About us
          blockquote Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui international first-class nulla ut. Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming Scandinavian impeccable aute quality of life soft power pariatur Melbourne occaecat discerning. Qui wardrobe aliquip, et Porter destination Toto remarkable officia Helsinki excepteur Basset hound. Zürich sleepy perfect consectetur.
          cite Attributed to Winston Churchill, Marshall McLuhan, and John Culkin.
          p.credit
            strong Caju Gomes,

  div.container-parent
    div.container1
      img.icon1png(alt="", src="web_templating/image/icon1.png")
      b.heading-3 30M
      div.number-of-supporters Number of supporters
      div.text-frame Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations.
      
    div.container2
      img.icon2png(alt="", src="web_templating/image/icon2.png")
      b.heading-31 $100M
      div.fund-raised Fund raised
      div.text-frame Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations.
      
    div.container3
      img.icon3png(alt="", src="web_templating/image/icon3.png")
      b.heading-32 20M
      div.children-helped Children Helped
      div.text-frame Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations.
      
    div.container4
      img.icon4png(alt="", src="web_templating/image/icon4.png")
      b.heading-33 18,000
      div.volunteers-worldwide Volunteers Worldwide
      div.text-frame Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations. 


  div.image-frame
    img.new-image(src="web_templating/image/image2.png", alt="New Image")
    
    div.overlay-container
      div.overlay-title History About Us
      div.overlay-text The legal definition of a charitable organization (and of charity) varies between countries and, in some instances, regions of the country. The regulation, the tax treatment, and the way in which charity law affects charitable organizations also vary. Charitable organizations may not use any of their funds to profit individuals.
      div.overlay-text2 The legal definition of a charitable organization (and of charity) varies between countries and, in some instances, regions of the country.The regulation, the tax treatment, and the way in which charity law affects charitable organizations also vary. Charitable organizations may not use any of their funds to profit individuals.
