extends template.pug 
include web_templating/component/pug/_iconchariti.pug
block head 
    link(rel="stylesheet", href="web_templating/csshalaman/global.css")
    link(rel="stylesheet", href="web_templating/csshalaman/about-us.css")
    link(rel="stylesheet", href="web_templating/component/css/iconchariti.css")
block main 
    .container 
        .article-section-about-us
            .about-us-text
                h1 About us
                h2 Sub head
                p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                p bapakku garena
            img.image-article-about-us(src="web_templating/image/event5.png", alt="")
        .icon-section
            +icon
        .text-icon 
            p Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations.
            p Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations.
            p Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations.
            p Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations.
        .gambar-about-us-section 
            .judul-gambar-about-us 
                h1 History About Us
            .text-gambar-bawah
                p The legal definition of a charitable organization (and of charity) varies between countries and in some instances regions of the country. The regulation, the tax treatment, and the way in which charity law affects charitable organizations also vary. Charitable organizations may not use any of its funds to profit individual Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations that are charities are required to registered with the appropriate regulato
                p The legal definition of a charitable organization (and of charity) varies between countries and in some instances regions of the country. The regulation, the tax treatment, and the way in which charity law affects charitable organizations also vary. Charitable organizations may not use any of its funds to profit individual Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations that are charities are required to registered with the appropriate regulato