extends template.pug

block head
    link(rel="stylesheet" href="web_templating/csshalaman/become_a_volunteer.css")

block main
    img.image-iconback(src="web_templating/image/image1.png", alt="become_a_volunteer")

    div.become-volunteer
        div.become-volunteer-child
        b.interest-to-get-container
            p.interest-to-get Interest to Get 
            p.interest-to-get Involved?
        div.become-volunteer-item
        b.lets-help-together Let’s Help Together
        b.more-people-more More People More Impact
        div.charity-law-within-container
            span.charity-law-within-container1
                p.interest-to-get Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations that are charities are required to registered with the appropriate regulator.
        img.image-icon(src="web_templating/image/volunteer4.png", alt="")
        img.image-icon1(src="web_templating/image/volunteer3.png", alt="")
        img.image-icon2(src="web_templating/image/volunteer2.png", alt="")
        img.image-icon3(src="web_templating/image/volunteer1.png", alt="")
        
        div.button
            b.button1 Call Us
        div.button2
            b.button1 Email Us
        
        div.charity-law-within-container2
            span.charity-law-within-container1
                p.interest-to-get Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations that are charities are required to registered with the appropriate regulator.
        
        img.image-icon4(src="web_templating/image/garou_background.png", alt="")
        
        div.how-it-works How it works?
        div.div 01
        div.div1 03
        div.div2 04
        div.div3 02
        
        div.lorem-ipsum-dolor "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"
        
        div.lorem-ipsum-dolor1 "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"
        
        div.lorem-ipsum-dolor2 "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"
        
        div.become-volunteer-inner
        div.line-div
        div.become-volunteer-child1
        div.become-volunteer-child2
        
        div.button4
            b.button1 GET STARTED !
        
        img.image-icon5(src="web_templating/image/volunteer5.png", alt="")
        b.what-you-will What you will get?
        b.member-benefit Member Benefit
        
        div.recruit-volunteers-from-container
            ul.recruit-volunteers-from-our-co
                li.recruit-volunteers-from Recruit volunteers from our corporate partners
                li.recruit-volunteers-from Match volunteers to the specific skills you need
                li.recruit-volunteers-from Request donations button for 501c3 organizations
                li.recruit-volunteers-from Manage your photos and videos
                li.recruit-volunteers-from Send group alerts
                li.recruit-volunteers-from Track and report opportunity metrics
                li.recruit-volunteers-from Export your opportunity data
                li Automatically send documents to potential volunteers
