extends template.pug
include web_templating/component/pug/_button.pug
include web_templating/component/pug/_how-its-work.pug
include web_templating/component/pug/_benefit-list.pug

block head
    link(rel="stylesheet", href="web_templating/csshalaman/global.css")
    link(rel="stylesheet", href="web_templating/csshalaman/bvolunteer.css")
    link(rel="stylesheet", href="web_templating/component/css/button.css")
    title Volunteer

block menu
    +menu
    +atas('Become a Volunteer')

block main
    .container
        .letshelpsec
            .letshelpinfo
                h1 Let's Help Together
                p Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations that are charities are required to registered with the appropriate regulato


            .letshelpimg
                img.bvimg1(src="web_templating/image/Aboutcharity.png", alt="")
                img.bvimg2(src="web_templating/image/volunteer2.png", alt="")

        .morepeoplesec
            .morepeopleimg
                img.mpimg1(src="web_templating/image/volunteer1.png", alt="")
            .morepeopleinfo
                h1 More People
                h1 More Impact
                p Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same. Most organizations that are charities are required to registered with the appropriate regulato principles are the same. Most organizations that are charities are required to registered with the appropriate regulato

        .garousec
            each info in [{ step: '01', description: 'Charity law within the UK varies among England and Wales, Scotland and Northern Ireland, but the fundamental principles are the same.' },{ step: '02', description: 'Most organizations that are charities are required to registered with the appropriate regulatory body.' },{ step: '03', description: 'Charitable organizations must adhere to regulations set out by respective jurisdictions.' },{ step: '04', description: 'Transparency and accountability are essential principles for charities to function properly.' }]
                +howItWorks(info)

        .benefitsec
            .benefitteks
                h1 Benefits of Volunteering
                +benefitsList(['Recruit volunteers from our corporate partners','Match volunteers to the specific skills you need','Request donations button for 501c3 organizations','Manage your photos and videos','Send group alerts','Track and report opportunity metrics','Export your opportunity data','Draw your happy tree','Make breakfast for you'])
            .benefitimg
                img.bfit1(src="web_templating/image/volunteer2.png", alt="")
                img.bfit2(src="web_templating/image/volunteerbenefit.jpg", alt="")
