extends template.pug
include web_templating/component/pug/_button.pug
include web_templating/component/pug/_blogcard.pug

block head
    link(rel="stylesheet", href="web_templating/csshalaman/blog.css")
    link(rel="stylesheet", href="web_templating/component/css/button.css")
    link(rel="stylesheet", href="web_templating/component/css/article-image-news.css")
    link(rel="stylesheet", href="web_templating/component/css/blogcard.css")

block menu
    +menu
    +atas('Our Impact Stories')

block main
    - const blogs = [{ title: 'Charity Brings Hope', description: 'Through acts of charity, communities are coming together, supporting each other, and making a difference for those in need. This is where hope meets action.', image: 'web_templating/image/blog5.jpg' },{ title: 'The Power of Giving', description: 'Giving transforms lives. When individuals extend a helping hand, they provide not only financial assistance but also inspire others to be part of something greater.', image: 'web_templating/image/blog3.jpg' },{ title: 'Small Acts, Big Impact', description: 'Sometimes, the smallest gestures can have the biggest impact. Learn how small acts of kindness contribute to a ripple effect of positive change across communities.', image: 'web_templating/image/blog3.jpg' }]

    .container
        .BLOGSEC
            .pukmki
                each blog in blogs
                    +blogcard(blog.title, blog.description, blog.image)
