extends template.pug 
include web_templating/component/pug/_button.pug
include web_templating/component/pug/_article-image.pug
include web_templating/component/pug/_blogcard.pug

block head
    link(rel="stylesheet", href="web_templating/csshalaman/blog.css")
    link(rel="stylesheet", href="web_templating/component/css/button.css")
    link(rel="stylesheet", href="web_templating/component/css/article-image-news.css")
    link(rel="stylesheet", href="web_templating/component/css/blogcard.css")

block menu 
    +menu
    +atas('Our Impact Stories')
block main
    .container
        .BLOGSEC
            .pukmki
                    +blogcard('Judul Blog Pertama', '"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"', 'web_templating/image/blog5.jpg')
                    +blogcard('Judul Blog Kedua', '"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"', 'web_templating/image/blog3.jpg')
                    +blogcard('Judul Blog Kedua', '"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"', 'web_templating/image/blog3.jpg')
            .halobagn
                .teksarticleblog    
                    h1.judulblog Our Impact Stories
                    p.paragrafblog Read stories from our partners and supporters. Sed ut perspiciatis unde omnis iste natus error sit voluptatem Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    h3.recent  Recent Article 
                    +articleImage(
                        "web_templating/image/event7.png",
                        "Article Image",
                        "Turning your emergency donation",
                        "into instant aid",
                        "Kanaeru",
                        "web_templating/image/user.svg"
                    )
                    +articleImage(
                        "web_templating/image/event7.png",
                        "Article Image",
                        "Turning your emergency donation",
                        "into instant aid",
                        "Kanaeru",
                        "web_templating/image/user.svg"
                    )
                    +articleImage(
                        "web_templating/image/event7.png",
                        "Article Image",
                        "Turning your emergency donation",
                        "into instant aid",
                        "Kanaeru",
                        "web_templating/image/user.svg"
                    )
                    +articleImage(
                        "web_templating/image/event7.png",
                        "Article Image",
                        "Turning your emergency donation",
                        "into instant aid",
                        "Kanaeru",
                        "web_templating/image/user.svg"
                    )
                    +articleImage(
                        "web_templating/image/event7.png",
                        "Article Image",
                        "Turning your emergency donation",
                        "into instant aid",
                        "Kanaeru",
                        "web_templating/image/user.svg"
                    )
                    +articleImage(
                        "web_templating/image/event7.png",
                        "Article Image",
                        "Turning your emergency donation",
                        "into instant aid",
                        "Kanaeru",
                        "web_templating/image/user.svg"
                    )
                    +articleImage(
                        "web_templating/image/event7.png",
                        "Article Image",
                        "Turning your emergency donation",
                        "into instant aid",
                        "Kanaeru",
                        "web_templating/image/user.svg"
                    )