extends template.pug
include web_templating/component/pug/_button.pug
include web_templating/component/pug/_contact-info.pug
include web_templating/component/pug/_social-media-icon.pug
block head 
    link(rel="stylesheet", href="web_templating/csshalaman/contact.css")
    link(rel="stylesheet", href="web_templating/component/css/button.css")
    link(rel="stylesheet", href="web_templating/csshalaman/global.css")
    title Contact
block menu 
    +menu
    +atas('Contact Us!')
block main
    .container
        +contactInfo([{ iconClass: "fa-phone", imgSrc: "web_templating/image/Phone.svg", imgAlt: "Phone Icon", title: "Phone", description: "A wonderful serenity has taken possession of my entire soul, like these.", contactNumber: "+62 236-570-282" },{ iconClass: "fa-mail", imgSrc: "web_templating/image/Mail.svg", imgAlt: "Email Icon", title: "Email", description: "A wonderful serenity has taken possession of my entire soul, like these.", contactNumber: "+62 236-570-282" },{ iconClass: "fa-location", imgSrc: "web_templating/image/Arrow 1.svg", imgAlt: "Location Icon", title: "Location", description: "A wonderful serenity has taken possession of my entire soul, like these.", contactNumber: "+62 236-570-282" }])
        .text-center-section
            h1 Leave us your info
            p and we will get back to you
        .border-section-contact
            .fullname-border
                p Fullname*
            .name-border
                p Name*
            .email-border
                p Email*
            .message-border
                p Message*
            .button-contact
                b SUBMIT NOW
        .img-contact-down
            img(src="web_templating/image/map-contact.png", alt="")
        .media-icon-down 
            +socialMediaIcons([{ imgSrc: "web_templating/image/Mail.svg", imgAlt: "Mail Icon" },{ imgSrc: "web_templating/image/Facebook.svg", imgAlt: "Facebook Icon" },{ imgSrc: "web_templating/image/Twitter.svg", imgAlt: "Twitter Icon" },{ imgSrc: "web_templating/image/Instagram.svg", imgAlt: "Instagram Icon" }])
