extends template.pug

block head 
    link(rel="stylesheet", href="web_templating/csshalaman/contact.css")

block main 
    .contact
        img.image-icon(alt="" src="image.png")
        b.contact1 Contact
        .contact-child
        b.b +62 236-570-282
        b.b1 +62 236-570-282
        b.b2 +62 236-570-282
        b.a-wonderful-serenity A wonderful serenity has taken possession of my entire soul, like these.
        b.a-wonderful-serenity1 A wonderful serenity has taken possession of my entire soul, like these.
        b.a-wonderful-serenity2 A wonderful serenity has taken possession of my entire soul, like these.
        b.phone Phone
        b.email Email
        b.location Location
        img.phone-icon(alt="" src="Phone.svg")
        img.mail-icon(alt="" src="Mail.svg")
        img.contact-item(alt="" src="Vector 1.svg")
        img.contact-inner(alt="" src="Arrow 1.svg")
        .rectangle-div
        .frame-div
        .frame-child
        .rectangle-parent
        .frame-item
        b.email1 Email*
        .rectangle-group
        .frame-item
        b.email2 Email*
        .rectangle-container
        .frame-child1
        b.message Message*
        b.full-name Full Name*
        .button
        b.button1 SUBMIT NOW
        .leave-us-your Leave us your info
        b.and-we-will and we will get back to you
        .map
        img.image-2-icon(alt="" src="image 2.png")
        img.mail-icon1(alt="" src="Mail.svg")
        img.facebook-icon(alt="" src="Facebook.svg")
        img.twitter-icon(alt="" src="Twitter.svg")
        img.instagram-icon(alt="" src="Instagram.svg")
