extends template.pug 

block head 
    link(rel="stylesheet" href="web_templating/csshalaman/contact.css")
block main 
    img.image-iconback(src="web_templating/image/image1.png", alt="event")
    b.b3 Contact
    .contact
    .contact-child
    b.b +62 236-570-282
    b.b1 +62 236-570-282
    b.b2 +62 236-570-282
    b.a-wonderful-serenity A wonderful serenity has taken possession of my entire soul, like these.
    b.a-wonderful-serenity1 A wonderful serenity has taken possession of my entire soul, like these.
    b.a-wonderful-serenity2 A wonderful serenity has taken possession of my entire soul, like these.
    b.phone Phone
    b.email Email
    b.location Location
    img.phone-icon(alt="", src="web_templating/image/Phone.svg")
    img.mail-icon(alt="", src="web_templating/image/Mail.svg")
    img.contact-inner(alt="", src="web_templating/image/Arrow 1.svg")
    .rectangle-div
    .frame-div
        .frame-child
    .rectangle-parent
        .frame-item
        b.email1 Email*
    .rectangle-group
        .frame-item
        b.email2 Email*
    .rectangle-container
        .frame-child1
        b.message Message*
    b.full-name Full Name*
    .button
        b.button1 SUBMIT NOW
    .leave-us-your Leave us your info
    b.and-we-will and we will get back to you
    .map
    img.image-2-icon(alt="", src="web_templating/image/map.png")
    img.mail-icon1(alt="", src="web_templating/image/Mail.svg")
    img.facebook-icon(alt="", src="web_templating/image/Facebook.svg")
    img.twitter-icon(alt="", src="web_templating/image/Twitter.svg")
    img.instagram-icon(alt="", src="web_templating/image/instagram.svg")
