extends template.pug 
include web_templating/component/pug/_event-section.pug

block head 
  link(rel="stylesheet", href="web_templating/csshalaman/eventclick.css")
  title Event Details

block menu 
  +menu
  +atas('Event Details')

block main 
  .container
    each section in [{title: "How to build a loyal community offline",text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat fermentum euismod. Nulla metus massa, volutpat nec purus eu, aliquam consequat diam. Curabitur tempor ante in tellus iaculis, interdum dictum est aliquet. Suspendisse commodo feugiat sodales. Phasellus pulvinar commodo purus, vitae lacinia ex sodales temporThis guide explores methods for strengthening community bonds through offline engagement. It draws from years of experience in the industry and offers strategies that have been proven effective. lorem ipLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat fermentum euismod. Nulla metus massa, volutpat nec purus eu, aliquam consequat diam. Curabitur tempor ante in tellus iaculis",image: "web_templating/image/event1.png"},{title: "Event Messages",text: "Gain insights into the importance of communication and how to craft messages that resonate with audiences. Our event messaging guidelines help bridge the gap between brands and communities. Lorem ipsum acumalaka is simply dumply text of the printing and typesetting industry, standar dummy text ever since the 1500s, when an uknown printer took a gallery."}]
      +eventSection(section.title, section.text, section.image)

    .usefulimg 
      each usefulImage, index in [{src: "web_templating/image/event10.png",title: "Explore New Perspectives",text: "Discover the impact of effective networking and community engagement, building meaningful relationships that foster growth.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat fermentum euismod. Nulla metus massa, volutpat nec purus eu, aliquam consequat diam. Curabitur tempor ante in tellus iaculis, interdum dictum est aliquet. Suspendisse commodo feugiat sodales. Phasellus pulvinar commodo purus, vitae lacinia ex sodales tempor"},{src: "web_templating/image/event11.png",title: "Achieving Success Together",text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat fermentum euismod. Nulla metus massa, volutpat nec purus eu, aliquam consequat diam. Curabitur tempor ante in tellus iaculis, interdum dictum est aliquet. Suspendisse commodo feugiat sodales. Phasellus pulvinar commodo purus, vitae lacinia ex sodales temporLearn strategies for collective success, and how shared goals can enhance community spirit and drive innovation."}]
        img.useful1(src=usefulImage.src, alt=usefulImage.title)
        +eventSection(usefulImage.title, usefulImage.text)
