extends template.pug 
include web_templating/component/pug/_forum-article.pug
include web_templating/component/pug/_profile-forum.pug

block head 
    link(rel="stylesheet" href="web_templating/component/css/forum-mix.css")
    link(rel="stylesheet" href="web_templating/csshalaman/forum.css")
    link(rel="stylesheet" href="web_templating/csshalaman/global.css")
    link(rel="stylesheet" href="web_templating/component/css/profile-forum.css")
    title Forum

block menu 
    +menu
    +atas('Forum')

block main 
    .container
        .sec-content-article
            .text-content-up
                .text-up
                    h1 Club News
                    p Here goes some rice category description, Good for seo

            each article in [{image: "web_templating/image/portfolio3.png",alt: "Forum Image",title: "Budget for the Organization You Want to Be",description: "Empowering communities through strategic budgeting can make a significant impact on social initiatives. By effectively allocating resources, charities can reach more individuals and drive sustainable change."},{image: "web_templating/image/portfolio2.png",alt: "Forum Image",title: "Fundraising for Immediate Relief",description: "When disasters strike, quick and efficient fundraising is essential. Providing emergency funds helps support those in need and ensures timely assistance in critical situations."},{image: "web_templating/image/portfolio1.png",alt: "Forum Image",title: "Educational Programs for All Ages",description: "Education is a cornerstone for change. By supporting learning opportunities for children and adults alike, we can build a future where everyone has the tools to succeed."},{image: "web_templating/image/volunteer1.png",alt: "Forum Image",title: "Building Partnerships for Better Outcomes",description: "Through partnerships with local organizations and community leaders, we can enhance our reach and create a stronger impact. Collaboration amplifies the effectiveness of charitable initiatives."}]
                +articleForum(article.image, article.alt, article.title, article.description)
