extends template.pug

block head 
    link(rel="stylesheet", href="web_templating/csshalaman/galeri.css")
    title our galer
block main
        .gallery
            .gallerytop
                img(src="web_templating/image/galeribawah.png" alt="puki")
                b.gallery1 Gallery  
                .our-gallery Our Gallery
            .image-parent
                img.image-icon(src="web_templating/image/btos10.png" alt="image-icon")
                img.image-icon1(src="web_templating/image/bts10.png" alt="image-icon1")
                img.image-icon2(src="web_templating/image/bts10.png" alt="image-icon2")
                img.image-icon3(src="web_templating/image/bts10.png" alt="image-icon3")
                img.image-icon4(src="web_templating/image/bts10.png" alt="image-icon4")
                img.image-icon5(src="web_templating/image/bts10.png" alt="image-icon5")
                img.image-icon6(src="web_templating/image/bts10.png" alt="image-icon6")
                img.image-icon7(src="web_templating/image/bts10.png" alt="image-icon7")
                img.image-icon8(src="web_templating/image/image.png" alt="")
                img.play-circle-icon(src="web_templating/image/Play circle.svg" alt="")
                img.image-icon9(src="web_templating/image/image.png" alt="")
                img.image-icon10(src="web_templating/image/image.png" alt="")
            .poverty Poverty
            .gallery-child
