extends template.pug

block head 
    link(rel="stylesheet", href="web_templating/csshalaman/galeri.css")
    title our galer
block main
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1, width=device-width")
        link(rel="stylesheet" href="./index.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap")
   
        .gallery
            b.gallery1 Gallery
            .our-gallery Our Gallery
            .image-parent
                img.image-icon(src="image.png", alt="")
                img.image-icon1(src="image.png", alt="")
                img.image-icon2(src="image.png", alt="")
                img.image-icon3(src="image.png", alt="")
                img.image-icon4(src="image.png", alt="")
                img.image-icon5(src="image.png", alt="")
                img.image-icon6(src="image.png", alt="")
                img.image-icon7(src="image.png", alt="")
            img.image-icon8(src="image.png", alt="")
            img.play-circle-icon(src="Play circle.svg", alt="")
            img.image-icon9(src="image.png", alt="")
            img.image-icon10(src="image.png", alt="")
            .poverty Poverty
            .gallery-child
