extends template.pug 

block head 
    link(rel="stylesheet", href="web_templating/csshalaman/galeri.css")
    title our galery
block main
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1, width=device-width")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap")
        img.image-iconback(src="web_templating/image/image1.png", alt="become_a_volunteer")
    
        b.b3 Gallery
        .gallery
            .our-gallery Our Gallery
            .image-parent
                img.image-icon(src="web_templating/image/event1.png", alt="")
                img.image-icon1(src="web_templating/image/event2.png", alt="")
                img.image-icon2(src="web_templating/image/event3.png", alt="")
                img.image-icon3(src="web_templating/image/event4.png", alt="")
                img.image-icon4(src="web_templating/image/event5.png", alt="")
                img.image-icon5(src="web_templating/image/event6.png", alt="")
                img.image-icon6(src="web_templating/image/event7.png", alt="")
                img.image-icon7(src="web_templating/image/event8.png", alt="")
            img.image-icon8(src="web_templating/image/event9.png", alt="")
            img.image-icon9(src="web_templating/image/galeribackground2.png", alt="")
            img.image-icon10(src="web_templating/image/galeri3.png", alt="")
            .poverty Poverty
            .gallery-child
