extends template.pug 
include web_templating/component/pug/_gallery-image-container.pug
include web_templating/component/pug/_gallery-box.pug
block head 
    link(rel="stylesheet", href="web_templating/csshalaman/global.css")
    link(rel="stylesheet", href="web_templating/csshalaman/gallery.css")
    title Gallery

block menu 
    +menu
    +atas('Our Gallery')

block main 
    .container
        .galleryteks    
            h1 Our Gallery
                .judulgallery   
                    h2 Poverty


        .gallery1sec
            -
                var galleryImages = [
                    "web_templating/image/galeri1.png",
                    "web_templating/image/galeri2.png",
                    "web_templating/image/galeri3.png",
                    "web_templating/image/galeri4.png",
                    "web_templating/image/galeri5.png",
                    "web_templating/image/galeri6.png",
                    "web_templating/image/galeri7.png",
                    "web_templating/image/galeri8.png"
                ]
            each src in galleryImages
                +galleryBox(src)


        .gallery2sec
            input#page1(type="radio", name="gallery", checked)
            input#page2(type="radio", name="gallery")
            input#page3(type="radio", name="gallery")
            input#page4(type="radio", name="gallery")
            input#page5(type="radio", name="gallery")
            input#page6(type="radio", name="gallery")

            .gambartengah
                -
                    var middleImages = [
                        "web_templating/image/healthafrica.jpg",
                        "web_templating/image/education.jpg",
                        "web_templating/image/galeri3.png",
                        "web_templating/image/frieren.png",
                        "web_templating/image/volunteerbenefit.jpg",
                        "web_templating/image/foodcause.jpg"
                    ]
                each src in middleImages
                    +galleryImageContainer(src)

            .pagination
                label(for="page1") &laquo;
                label(for="page1") 1
                label(for="page2") 2
                label(for="page3") 3
                label(for="page4") 4
                label(for="page5") 5
                label(for="page6") 6
                label(for="page6") &raquo;

        .gallery3sec
            .playtengah
                img(src="web_templating/image/Play circle.png", alt="")
