extends template.pug 


block head 
    link(rel="stylesheet", href="web_templating/csshalaman/global.css")
    link(rel="stylesheet", href="web_templating/csshalaman/gallery.css")
    title Gallery
block menu 
    +menu
    +atas('Our Gallery')
block main 
    .container
        .galleryteks    
            h1 Our Gallery
                .judulgallery   
                    h2 Poverty
        .gallery1sec
            .boxgallery1
                img(src="web_templating/image/galeri1.png", alt="")
            .boxgallery1 
                img(src="web_templating/image/galeri2.png", alt="")
            .boxgallery1 
                img(src="web_templating/image/galeri3.png", alt="")
            .boxgallery1
                img(src="web_templating/image/galeri4.png", alt="")
            .boxgallery1
                img(src="web_templating/image/galeri5.png", alt="")
            .boxgallery1 
                img(src="web_templating/image/galeri6.png", alt="")
            .boxgallery1
                img(src="web_templating/image/galeri7.png", alt="")
            .boxgallery1
                img(src="web_templating/image/galeri8.png", alt="") 
        .gallery2sec
            .gambartengah   
                img(src="web_templating/image/galeri3.png", alt="")
            .pagination
                a(href="#") &laquo;
                a(href="#") 1
                a(href="#") 2
                a(href="#") 3
                a(href="#") 4
                a(href="#") 5
                a(href="#") 6
                a(href="#") &raquo;
        .gallery3sec
            .gambartengah
                img(src="web_templating/image/Play circle.png", alt="")
           
