extends template.pug
include web_templating/component/pug/_articlecard.pug
include web_templating/component/pug/_button.pug
include web_templating/component/pug/_shop.pug
include web_templating/component/pug/_iconchariti.pug
include web_templating/component/pug/_volunteer.pug

block head
    link(rel="stylesheet", href="web_templating/component/css/articlecard.css")
    link(rel="stylesheet", href="web_templating/component/css/button.css")
    link(rel="stylesheet", href="web_templating/csshalaman/global.css")
    link(rel="stylesheet", href="web_templating/component/css/shop.css")
    link(rel="stylesheet", href="web_templating/component/css/iconchariti.css")
    link(rel="stylesheet", href="web_templating/component/css/volunteer.css")
    link(rel="stylesheet", href="web_templating/component/css/gambaratas.css")
    link(rel="stylesheet", href="web_templating/csshalaman/index.css")

    title Home 

block main
        .homembik
            .homembikl Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .buttonembik
                    +button
            .homembikm Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .buttonembik
                    +button
            .homembikg
                img(src="web_templating/image/background1.png", alt="")
        .container
            .textpage
                h1 Our Cause
                .btntextpage 
                    +button
            .articlehomesec
                .articlehome
                    img(src="web_templating/image/homearticle.png", alt="")
                    .articlehometext 
                        h1 We Help People
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, tortor, sed eget. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lorm
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, tortor, sed eget. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .btarticlehome
                            +button
            .articlehome2 
                +article
                +article
                +article
            .whoarewesec
                .kotak 
                    h1 Who Are We?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, tortor, sed eget. get. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ald do eiusmod tempor incididunt ut labore et dolore magna 
                img.kotak(src="web_templating/image/whatarewe.png", alt="")
                img.kotak(src="web_templating/image/whoarewe.png", alt="")
                .kotaka 
                    h1 What Are We?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, tortor, sed eget. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ald do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .iconsechome
                +icon
            .textpage 
                h1 News & Updates
                .btntextpage
                    +button
            .newsupsec 
                .kotaknewsup
                    img(src="web_templating/image/volunteer3.png", alt="")
                    .kotaknewstext Partnering to create a community
                .kotaknewsup
                    img(src="web_templating/image/volunteer3.png", alt="")
                    .kotaknewstext Lorem ipsum dolor sit amet, consectetur 
                .kotaknewsup
                    img(src="web_templating/image/volunteer3.png", alt="")
                    .kotaknewstext Lorem ipsum dolor sit amet, consectetur 
                .kotaknewsup
                    img(src="web_templating/image/volunteer3.png", alt="")
                    .kotaknewstext Lorem ipsum dolor sit amet, consectetur 
                .kotaknewsup
                    img(src="web_templating/image/volunteer3.png", alt="")
                    .kotaknewstext Lorem ipsum dolor sit amet, consectetur 
                .kotaknewsup
                    img(src="web_templating/image/volunteer3.png", alt="")
                    .kotaknewstext Lorem ipsum dolor sit amet, consectetur 
            .eventsec 
                .textpage 
                    h1 Upcoming Event
                    .btntextpage
                        +button
                .kotakevent
                    img(src="web_templating/image/volunteer3.png", alt="")
                    .dateevent 
                        h1 3 September
                        p day       time place
                        h1 12 October
                        p day       time place
                        h1 20 Januari
                        p day       time place
            .textpage 
                h1 Our Staff
                .btntextpage
                    +button
            .ourteamsec 
                +volunteer 
                +volunteer 
                +volunteer 
                +volunteer 
            .textpage 
                h1 Gallery
                .btntextpage
                    +button
            .galleryhomesec 
                .kotakgallery
                    img(src="web_templating/image/volunteer3.png", alt="")
                .kotakgallery
                    img(src="web_templating/image/volunteer3.png", alt="")
                .kotakgallery
                    img(src="web_templating/image/volunteer3.png", alt="")
                .kotakgallery
                    img(src="web_templating/image/volunteer3.png", alt="")
                .kotakgallery
                    img(src="web_templating/image/volunteer3.png", alt="")
                .kotakgallery
                    img(src="web_templating/image/volunteer3.png", alt="")
                .kotakgallery
                    img(src="web_templating/image/volunteer3.png", alt="")
                .kotakgallery
                    img(src="web_templating/image/volunteer3.png", alt="")
                

