extends template.pug 
include web_templating/component/pug/_news-image.pug
include web_templating/component/pug/_article-image.pug
block head 
  link(rel="stylesheet", href="web_templating/csshalaman/news.css")
  link(rel="stylesheet", href="web_templating/component/css/news-image.css")
  link(rel="stylesheet", href="web_templating/component/css/article-image-news.css")
  title News Update
block menu 
    +menu
    +atas('News & Update')
block main 
  .container 
    .puki 
      .news-image-sec
        +news-image
        +news-image
        +news-image
        +news-image
      .text-section-news 
        h1 Title
        h2 Sub-title
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua jika iloveyou
        h1 Recent Article
        +article-image
        +article-image
        +article-image