extends template.pug 
include web_templating/component/pug/_our-faq-list.pug

block head 
    link(rel="stylesheet", href="web_templating/component/css/our-faq-list.css")
    link(rel="stylesheet", href="web_templating/csshalaman/global.css")
    link(rel="stylesheet", href="web_templating/csshalaman/our-faq.css")
block main 
    .container
        .sec-faq-list 
            +faq-list
            +faq-list
            +faq-list
            +faq-list
            +faq-list
            +faq-list
            +faq-list
            +faq-list
            +faq-list
            +faq-list
            +faq-list