extends template.pug 

block head 
    link(rel="stylesheet" href="web_templating/csshalaman/our_program.css")

block main 
    img.image-iconback(src="web_templating/image/image1.png", alt="background_title")
    b.b3 Our Program
    .program
        .program-child
        img.image-icon(alt="" src="web_templating/image/event1.png")
        img.image-icon1(alt="" src="web_templating/image/event2.png")
        img.image-icon2(alt="" src="web_templating/image/event3.png")
        img.image-icon3(alt="" src="web_templating/image/event4.png")
        img.image-icon4(alt="" src="web_templating/image/event5.png")
        img.image-icon5(alt="" src="web_templating/image/event6.png")
        img.image-icon6(alt="" src="web_templating/image/event7.png")
        img.image-icon7(alt="" src="web_templating/image/event8.png")
        img.program-item
        .the-right-program The Right program at The right time
        .our-mission Our Mission
        .program-inner
        .rectangle-div
        .program-child2
            img.frame-icon(alt="" src="web_templating/image/biru lingkaran.svg")
            .image-3
            img.icon2png(alt="" src="web_templating/image/icon2.png")
        .ellipse-div
        .program-child3
            img.program-child4(alt="" src="web_templating/image/biru lingkaran.svg")
            .image-3
            img.icon3png(alt="" src="web_templating/image/icon3.png")
        .program-child5
        .program-child6
        .halosaur-duckbilled-barracudin Halosaur duckbilled barracudina, goosefish gar pleco, chum salmon, sawfish whitefish orbicular batfish
        .long-finned-char-cookie-cutter Long-finned char cookie-cutter shark paradise fish! Triggerfish bango guppy shark saw
        .catfish-cobia-spookfish Halosaur duckbilled barracudina, goosefish gar pleco, chum salmon, sawfish whitefish orbicular batfish
        .group-parent
            img.frame-child(alt="" src="web_templating/image/biru lingkaran.svg")
            .image-3
            img.icon4png(alt="" src="web_templating/image/icon4.png")
        .program-child7
        .program-child8
            img.program-child9(alt="" src="web_templating/image/biru lingkaran.svg")
            .image-3
            img.icon5png(alt="" src="web_templating/image/icon1.png")
        .donation Donation
        .education Education
        .health Health
        .empowerment Empowerment
        .cause-our-program Cause Our Program
        b.various-things-we Various things we help in whole world
        .line-div
        .program-child10
        .program-child11
        .program-child12
        .michog-paradise-fish Michog paradise fish! Triggerfish bango guppy opah sunfish bluntnose knifefish upside down
        .halosaur-duckbilled-barracudin Halosaur duckbilled barracudina, goosefish gar pleco, chum salmon, sawfish whitefish orbicular batfish
        .catfish-cobia-spookfish Catfish cobia spookfish convict cichlid cat shark saw shark trout cod barracuda long-finned
        b.acumalaka acumalaka
        b.michog-paradise-fish1 Michog paradise fish! Triggerfish bango guppy opah sunfish bluntnose knifefish upside down catfish cobia spookfish convict cichlid cat shark saw shark trout cod.
