extends template.pug 

block head 
    link(rel="stylesheet" href="web_templating/csshalaman/our_cause.css")

block main
    img.image-iconback(src="web_templating/image/image1.png", alt="background_title")
    b.judul Our Cause
    .cause
        .causecard 
            .cause-item
            .cause-inner
            .rectangle-div
            .cause-child1
            .cause-child2
            .cause-child3
            img.image-icon(alt="icon image 1" src="image.png")
            img.image-icon1(alt="icon image 2" src="image.png")
            img.image-icon2(alt="icon image 3" src="image.png")
            img.image-icon3(alt="icon image 4" src="image.png")
            img.image-icon4(alt="icon image 5" src="image.png")
            img.image-icon5(alt="icon image 6" src="image.png")
            b.b $27.000
            b.b1 $27.000
            b.b2 $27.000
            b.b3 $27.000
            b.b4 $27.000
            b.b5 $27.000  
            img.line-icon(alt="line icon 1" src="Line 12.svg")
            img.cause-child4(alt="line icon 2" src="Line 20.svg")
            img.cause-child5(alt="line icon 3" src="Line 22.svg")
            img.cause-child6(alt="line icon 4" src="Line 24.svg")
            img.cause-child7(alt="line icon 5" src="Line 26.svg")
            img.cause-child8(alt="line icon 6" src="Line 28.svg")
            img.cause-child12(alt="line icon 10" src="Line 13.svg")
            img.cause-child13(alt="line icon 11" src="Line 21.svg")
            img.cause-child14(alt="line icon 12" src="Line 23.svg")
            img.cause-child15(alt="line icon 13" src="Line 25.svg")
            img.cause-child16(alt="line icon 14" src="Line 27.svg")
            img.cause-child17(alt="line icon 15" src="Line 29.svg")
            .donated 92% Donated
            .donated1 92% Donated
            .donated2 92% Donated
            .donated3 92% Donated
            .donated4 92% Donated
            .donated5 92% Donated         
            .goal-3000000 Goal : $30,000.00
            .goal-30000001 Goal : $30,000.00
            .goal-30000002 Goal : $30,000.00
            .goal-30000003 Goal : $30,000.00
            .goal-30000004 Goal : $30,000.00
            .goal-30000005 Goal : $30,000.00
            b.creeper-explosion Creeper Explosion
            b.creeper-explosion1 Creeper Explosion
            b.creeper-explosion2 Creeper Explosion
            b.creeper-explosion3 Creeper Explosion
            b.creeper-explosion4 Creeper Explosion
            b.creeper-explosion5 Creeper Explosion
            .lorem-ipsum-dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus pretium orci in pharetra. Vivamus eget sodales nunc. Phasellus ut porta dui, eu molestie sapien
            .lorem-ipsum-dolor1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus pretium orci in pharetra. Vivamus eget sodales nunc. Phasellus ut porta dui, eu molestie sapien
            .lorem-ipsum-dolor2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus pretium orci in pharetra. Vivamus eget sodales nunc. Phasellus ut porta dui, eu molestie sapien
            .lorem-ipsum-dolor3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus pretium orci in pharetra. Vivamus eget sodales nunc. Phasellus ut porta dui, eu molestie sapien
            .lorem-ipsum-dolor4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus pretium orci in pharetra. Vivamus eget sodales nunc. Phasellus ut porta dui, eu molestie sapien
            .lorem-ipsum-dolor5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus pretium orci in pharetra. Vivamus eget sodales nunc. Phasellus ut porta dui, eu molestie sapien
            .button
                b.button1 Donate now
            .button2
                b.button1 Donate now
            .button4
                b.button1 Donate now
            .button6
                b.button1 Donate now
            .button8
                b.button1 Donate now
            .button10
                b.button1 Donate now
        .kartunama
            img.image-icon6(alt="icon image 7" src="image.png")
            b.want-to-donate Want to Donate by Phone?
            .not-a-problem Not a Problem. Call us Now
            .or-email-us Or email us :
            b.indonesia +62 087848934 (Indonesia)
            b.uhuyuhuygmailcom uhuyuhuy@gmail.com
            .urgent-causes Urgent Causes
            img.image-icon7(alt="icon image 8" src="image.png")
            img.image-icon8(alt="icon image 9" src="image.png")
            img.image-icon9(alt="icon image 10" src="image.png")
            .cause-child21
            .lorem-ipsum-dolor6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus pretium orci in pharetra. Vivamus eget sodales nunc. Phasellus ut porta dui, eu molestie sapien. Proin ac rutrum magna, tempo
            b.uhuhuyuhuyuhuyuhuy UHUHUYUHUYUHUYUHUY
            b.b6 $27.000
            b.b7 $27.000
            b.b8 $27.000
            .goal-30000006 Goal : $30,000.00
            .goal-30000007 Goal : $30,000.00
            .goal-30000008 Goal : $30,000.00
            .donated6 92% Donated
            .donated7 92% Donated
            .donated8 92% Donated
            img.cause-child9(alt="line icon 7" src="Line 14.svg")
            img.cause-child10(alt="line icon 8" src="Line 16.svg")
            img.cause-child11(alt="line icon 9" src="Line 18.svg")
            img.cause-child18(alt="line icon 16" src="Line 15.svg")
            img.cause-child19(alt="line icon 17" src="Line 17.svg")
            img.cause-child20(alt="line icon 18" src="Line 19.svg")
