extends template.pug 

block head 
    link(rel="stylesheet", href="web_templating/csshalaman/our_team.css")

block main 
    img.image-iconback(src="web_templating/image/image1.png", alt="background_title")
    b.b3 Our Team
    .our-team-parent
        .our-team
            .our-team-child

            .volunteer
                img.volunteer-child(alt="", src="Rectangle 7.svg")
                img.image-1-icon(alt="", src="web_templating/image/hitler.png")
                .volunteer-item
                i.drs-name-name DRS. NAME NAME
                .company-owner COMPANY OWNER

            .volunteer1
                img.volunteer-child(alt="", src="Rectangle 7.svg")
                img.image-1-icon(alt="", src="web_templating/image/hitler.png")
                .volunteer-item
                i.drs-name-name DRS. NAME NAME
                .company-owner COMPANY OWNER

            .volunteer2
                img.volunteer-child(alt="", src="Rectangle 7.svg")
                img.image-1-icon(alt="", src="web_templating/image/hitler.png")
                .volunteer-item
                i.drs-name-name DRS. NAME NAME
                .company-owner COMPANY OWNER

            .volunteer3
                img.volunteer-child(alt="", src="Rectangle 7.svg")
                img.image-1-icon(alt="", src="web_templating/image/hitler.png")
                .volunteer-item
                i.drs-name-name DRS. NAME NAME
                .company-owner COMPANY OWNER

            .volunteer4
                img.volunteer-child(alt="", src="Rectangle 7.svg")
                img.image-1-icon(alt="", src="web_templating/image/hitler.png")
                .volunteer-item
                i.drs-name-name DRS. NAME NAME
                .company-owner COMPANY OWNER

            .volunteer5
                img.volunteer-child(alt="", src="Rectangle 7.svg")
                img.image-1-icon(alt="", src="web_templating/image/hitler.png")
                .volunteer-item
                i.drs-name-name DRS. NAME NAME
                .company-owner COMPANY OWNER

            .volunteer6
                img.volunteer-child(alt="", src="Rectangle 7.svg")
                img.image-1-icon(alt="", src="web_templating/image/hitler.png")
                .volunteer-item
                i.drs-name-name DRS. NAME NAME
                .company-owner COMPANY OWNER

            .volunteer7
                img.volunteer-child(alt="", src="Rectangle 7.svg")
                img.image-1-icon(alt="", src="web_templating/image/hitler.png")
                .volunteer-item
                i.drs-name-name DRS. NAME NAME
                .company-owner COMPANY OWNER

            .lorem-ipsum-dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus pretium orci in pharetra. Vivamus eget sodales nunc. Phasellus ut porta dui, eu molestie sapien. Proin ac rutrum magna, id pulvinar enim. Pellentesque id eros quis libero facilisis luctus sed eget leo.

            .our-team1 Our Team
            .our-team-item

            .want-to-get Want to get involved?

            .button
                .button1 Become a Volunteer

            .lorem-ipsum-dolor1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus pretium orci in pharetra. Vivamus eget sodales nunc. Phasellus ut porta dui, eu molestie sapien. Proin ac rutrum magna, id pulvinar enim. Pellentesque id eros quis libero facilisis luctus sed eget leo. Nam sit amet lorem non nisl aliquet ornare. Nunc eget volutpat magna. Nam commodo dui eget eros placerat porta. Aenean rutrum ligula ac neque tempor, facilisis aliquam quam sagittis.

            .button2
                b.button3 View All

            img.mail-icon(alt="", src="Mail.svg")
            img.icon(alt="", src="Icon.svg")
            img.icon1(alt="", src="Icon.svg")
            img.icon2(alt="", src="Icon.svg")
            img.icon3(alt="", src="Icon.svg")
            img.icon4(alt="", src="Icon.svg")
            img.icon5(alt="", src="Icon.svg")
            img.icon6(alt="", src="Icon.svg")
            img.facebook-icon(alt="", src="Facebook.svg")
            img.icon7(alt="", src="Icon.svg")
            img.icon8(alt="", src="Icon.svg")
            img.icon9(alt="", src="Icon.svg")
            img.icon10(alt="", src="Icon.svg")
            img.icon11(alt="", src="Icon.svg")
            img.icon12(alt="", src="Icon.svg")
            img.icon13(alt="", src="Icon.svg")
            img.twitter-icon(alt="", src="Twitter.svg")
            img.icon14(alt="", src="Icon.svg")
            img.icon15(alt="", src="Icon.svg")
            img.icon16(alt="", src="Icon.svg")
            img.icon17(alt="", src="Icon.svg")
            img.icon18(alt="", src="Icon.svg")
            img.icon19(alt="", src="Icon.svg")
            img.icon20(alt="", src="Icon.svg")
            img.instagram-icon(alt="", src="Instagram.svg")
            img.icon21(alt="", src="Icon.svg")
            img.icon22(alt="", src="Icon.svg")
            img.icon23(alt="", src="Icon.svg")
            img.icon24(alt="", src="Icon.svg")
            img.icon25(alt="", src="Icon.svg")
            img.icon26(alt="", src="Icon.svg")
            img.icon27(alt="", src="Icon.svg")
            img.our-team-inner(alt="", src="Line 77.svg")
