extends template.pug
include web_templating/component/pug/_privacy-section.pug
block head
    link(rel="stylesheet", href="web_templating/csshalaman/privacy.css")
    link(rel="stylesheet", href="web_templating/csshalaman/global.css")
    title Privacy Policy
block menu
    +menu
    +atas('Our Privacy Policy')

block main
    - 
        var privacySections = [
            { title: 'Information We Collect and Use', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum, imperdiet fermentum ante. Aliquam a mollis purus.' },
            { title: 'How We Use Personal Information', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum, imperdiet fermentum ante. Aliquam a mollis purus.' },
            { title: 'How We Share Your Personal Information', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum, imperdiet fermentum ante. Aliquam a mollis purus.' },
            { title: 'Cookies and Other Tools', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum, imperdiet fermentum ante. Aliquam a mollis purus.' },
            { title: 'Online Behavioral Advertising and the Advertising Option Icon', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum, imperdiet fermentum ante. Aliquam a mollis purus.' },
            { title: 'Security Policies', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum, imperdiet fermentum ante. Aliquam a mollis purus.' },
            { title: 'Your Privacy Choices and Updates', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum, imperdiet fermentum ante. Aliquam a mollis purus.' },
            { title: 'Transfer of Data to Other Countries', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum, imperdiet fermentum ante. Aliquam a mollis purus.' },
            { title: 'Children\'s Privacy', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum, imperdiet fermentum ante. Aliquam a mollis purus.' },
            { title: 'Contact Us', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum, imperdiet fermentum ante. Aliquam a mollis purus.' },
            { title: 'Updates to our Privacy Policy', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum, imperdiet fermentum ante. Aliquam a mollis purus.' }
        ]

    .container
        .kebijakansec
            .judulprivacy
                p Privacy Policy
                .garislurus
            .isiprivacy
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum, imperdiet fermentum ante. Aliquam a mollis purus. Aliquam vel ipsum iaculis tortor malesuada aliquam. Duis sed justo velit. Suspendisse sed libero quis erat rhoncus fringilla id non mauris. Praesent aliquet vel diam eu egestas. Aliquam dui augue, fermentum quis pretium in, condimentum eget neque. Curabitur scelerisque in felis a semper. Sed vehicula metus eu ipsum semper tempor.

            .listprivacy
                each section in privacySections
                    li
                        a(href="#")= section.title
                        
            each section in privacySections
                +privacySection(section.title, section.content)
