extends template.pug
include web_templating/component/pug/_program-img.pug
include web_templating/component/pug/_program-card.pug

block head 
    link(rel="stylesheet", href="web_templating/csshalaman/program.css")
    link(rel="stylesheet", href="web_templating/csshalaman/global.css")
    link(rel="stylesheet", href="web_templating/component/css/program-img.css")
    link(rel="stylesheet", href="web_templating/component/css/program-card.css")
    title Program

block menu 
    +menu 
    +atas('Our Program')

block main 
    .container 
        .content-text-up
            h4 Cause our Program 
            h1 Various thing we help in whole world
            p Michog paradise fish! Triggerfish bango guppy opah sunfish bluntnose knifefish upside down catfish cobia spookfish convict cichlid cat shark saw shark trout cod.
            .garislurus
        
        .sec-program-img 
            +program-img
            +program-img
            +program-img
            +program-img
            +program-img
            +program-img
            +program-img
            +program-img

        .container-program-bottom    
            .sec-program-bottom 
                h1 The right program at The right time
                h5 Our Mission 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum, imperdiet fermentum ante. Aliquam a mollis purus. Aliquam vel ipsum iaculis tortor malesuada aliquam. Duis sed justo velit.
        .container-card-mission
            +programCard("web_templating/image/icon2.png", "Donation", "Halosaur duckbilled barracuda, goosefish gar pleco, chum salmon, sawfish whitefish orbicular batfish")
            +programCard("web_templating/image/Book open.svg", "Education", "Michog paradise fish! Triggerfish bango guppy opah sunfish bluntnose knifefish upside down")
            +programCard("web_templating/image/icon4.png", "Empowerment", "Long-finned char cookie-cutter shark paradise fish! Triggerfish bango guppy shark saw")
            +programCard("web_templating/image/icon1.png", "Health", "Catfish cobia spookfish convict cichlid cat shark saw shark trout cod barracuda long-finned") 
            