extends template.pug 
include web_templating/component/pug/_shop.pug
include web_templating/component/pug/_button.pug

block head 
    link(rel="stylesheet", href="web_templating/csshalaman/global.css")
    link(rel="stylesheet", href="web_templating/csshalaman/shoppage.css")
    link(rel="stylesheet", href="web_templating/component/css/button.css")
    link(rel="stylesheet", href="web_templating/component/css/shop.css")
    title Shop

block menu 
    +menu
    +atas('Our Shop','Happy Shopping')

block main
    - 
        var shopItems = [
            { image: "web_templating/image/cingur.png", title: "RUJAK CINGUR", description: "Rujak Cingur adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting." },
            { image: "web_templating/image/tahubulat.jpg", title: "TAHU BULAT", description: "Tahu bulat adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting." },
            { image: "web_templating/image/lontongbalap.jpg", title: "LONTONG BALAP", description: "Lontong balap adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting." },
            { image: "web_templating/image/sotoburik.jpg", title: "SOTO TOMGKENG", description: "Soto tongkeng adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting." },
            { image: "web_templating/image/lalapam.jpg", title: "LALAPAM", description: "Lalapam adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting." },
            { image: "web_templating/image/ayambakar'.jpg", title: "AYAM BAKAR", description: "Ayam bakar adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting." },
            { image: "web_templating/image/bebekhitam.jpg", title: "BEBEK BUMBU HITAM", description: "Bebek bumbu hitam adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting." },
            { image: "web_templating/image/nasipink.jpg", title: "NASI PINK", description: "Nasi pink adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting." },
            { image: "web_templating/image/nasibatu.jpg", title: "NASI CAMPUR BATU", description: "Nasi campur batu adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting." }
        ]

    .container
        .ourshop    
            h1 Our shop
        .shopcardsec
            each item in shopItems
                +shop(item.image, item.title, item.description)
        .btnshop 
            +button('View all')
