extends template.pug 
include web_templating/component/pug/_shop.pug
include web_templating/component/pug/_button.pug

block head 
    link(rel="stylesheet", href="web_templating/csshalaman/global.css")
    link(rel="stylesheet", href="web_templating/csshalaman/shoppage.css")
    link(rel="stylesheet", href="web_templating/component/css/button.css")
    link(rel="stylesheet", href="web_templating/component/css/shop.css")
    title Shop
block menu 
    +menu
    +atas('Our Shop','Happy Shopping')


block main
    .container 
        .ourshop    
            h1 Our shop
        .shopcardsec 
            +shop("web_templating/image/cingur.png", "RUJAK CINGURR", "Rujak Cingur adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting.")
            +shop("web_templating/image/cingur.png", "TAHU BULAT", "Tahu bulat adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting.")
            +shop("web_templating/image/cingur.png", "LONTONG BALAP", "Lontong balap adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting.")
            +shop("web_templating/image/cingur.png", "SOTO TOMGKENG", "Soto tongkeng adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting.")
            +shop("web_templating/image/cingur.png", "LALAPAM", "Lalapam adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting.")
            +shop("web_templating/image/cingur.png", "AYAM BAKAR", "Ayam bakar adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting.")
            +shop("web_templating/image/cingur.png", "BEBEK BUMBU HITAM", "Bebek bumbu hitam adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting.")
            +shop("web_templating/image/cingur.png", "NASI PINK", "Nasi pink adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting.")
            +shop("web_templating/image/cingur.png", "NASI CAMPUR BATU", "Nasi campur batu adalah makanan khas dari daerah Jawa Tengah. Makanan ini terbuat dari bahan-bahan seperti kacang tanah, gula merah, dan cabai merah keriting.")
        .btnshop 
            +button ('View all')
