include web_templating/component/pug/_menu.pug
include web_templating/component/pug/_footer.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="web_templating/component/css/menu.css")
        link(rel="stylesheet", href="web_templating/component/css/nav.css")
        link(rel="stylesheet", href="web_templating/component/css/footer.css")
        link(rel="stylesheet", href="web_templating/csshalaman/template.css")

        block head
        title Home is Life 
    body        
        block menu
            +menu
            
        block main
            .header
                    .judul 
                    h1 PUKIMAK
                    img(src="web_templating/image/image1.png", alt="")
            .body
                p aewiuhfiuwaehfuiawhfuieiugeauighaeuigh rgaeruifhaiuhfuiahfiuaeh fbwauiehfauihf
                img(src="", alt="")
            

        block footer
            +footer
