include web_templating/component/pug/_menu.pug
include web_templating/component/pug/_footer.pug
include web_templating/component/pug/_gambaratas.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="web_templating/component/css/menu.css")
        link(rel="stylesheet", href="web_templating/component/css/nav.css")
        link(rel="stylesheet", href="web_templating/component/css/footer.css")
        link(rel="stylesheet", href="web_templating/csshalaman/global.css")
        link(rel="stylesheet", href="web_templating/component/css/gambaratas.css")
        block head
        title Home is Life 
    body        
        block menu
            +menu
            +atas
        block main    

        block footer
            +footer
