extends template.pug
include web_templating/component/pug/_articlecard.pug
include web_templating/component/pug/_button.pug
include web_templating/component/pug/_shop.pug
include web_templating/component/pug/_iconchariti.pug
include web_templating/component/pug/_volunteer.pug

block head
    link(rel="stylesheet", href="web_templating/component/css/articlecard.css")
    link(rel="stylesheet", href="web_templating/component/css/button.css")
    link(rel="stylesheet", href="web_templating/csshalaman/global.css")
    link(rel="stylesheet", href="web_templating/component/css/shop.css")
    link(rel="stylesheet", href="web_templating/component/css/iconchariti.css")
    link(rel="stylesheet", href="web_templating/component/css/volunteer.css")
    title lol 
block main
        .judul
            h1 test page
            +button
        .container 
            +article
            +shop
            +icon
            +volunteer
            +volunteer
            +volunteer  
