mixin article-image 
        .article-card-image-news
            .image-placeholder-news
                img(src="web_templating/image/event4.png", alt="Article Image")
            .article-content-news
                h3 Turning your emergency donation
                h3 into instant aid
                .author-news-image
                    i.fa.fa-user
                    img.user-icon(src="web_templating/image/user.svg", alt="")
                    span JOHN SMITH