mixin article 
    .articlecard 
        img.gambar(src="web_templating/image/galeri5.png")
        .info 
            h1 STARVING    
            p ini sii sfjasfh sfhuiofa fafhuashdf asfda sfashfd asiofj aoifjsiafjsiadjf sadifjsa fsaidjf iju 
        .articlebutton 
            +button 

            
                