mixin article(imagePath, title, description)
    .articlecard 
        img.gambar(src=imagePath, alt=title)
        .info 
            h1= title    
            p= description
        .articlebutton 
            +button('Donate')

            
                