mixin event_image

    #groupContainer1.rectangle-group
      .group-child
        img.image-icon1(src="web_templating/image/event1.png", alt="")
        .group
          b.b1 20
          b.apr1 Apr
          img.frame-item(src="web_templating/image/Line 9.svg", alt="")
      .group-item
        b.youth-commissioner-weekend Youth Commissioner Weekend
      .group-inner
        b.am-700-container
          p.london-park 9:00am - 12:00am
          p.london-park London Park
        img.clock-icon(src="web_templating/image/Clock.svg", alt="")
        img.map-pin-icon(src="web_templating/image/Map pin.svg", alt="")
