mixin icon
  .wadahicon
    .icon
        img.g1(src="web_templating/image/icon1.png", alt="")
        .icon-text 
            h1  30M 
            p number of suppporters
    .icon
        img.g2(src="web_templating/image/icon2.png", alt="")
        .icon-text 
            h1 $100M 
            p fund raise
    .icon
        img.g3(src="web_templating/image/icon3.png", alt="")
        .icon-text 
            h1 20M 
            p childern helped
    .icon
        img.g4(src="web_templating/image/icon4.png", alt="")
        .icon-text 
            h1 18,000 
            p volunteers worldwide
