mixin menu 
    nav
      ul
        li
          a(href="index.html") Home
        li
          a(href="about.html") About
        li
          a(href="#") Pages
          ul
            li
              a(href="our_team.html") Our Team
            li
              a(href="index.html") Become a Volunteer
            li
              a(href="#") Shop
            li
              a(href="event.html") Event
            li
              a(href="galery.html") Gallery
            li
              a(href="our_cause.html") Our Cause
            li
              a(href="our_program.html") Our Program
            li
              a(href="contact.html") Contact
        li
          a(href="portfolio.html") Portfolio
        li
          a(href="#") Blog
