mixin menu
    nav
      ul
        li
          a(href="homepage.html") Home
        li
          a(href="about.html") About
        li
          a(href="#") Pages
          ul
            li
              a(href="our_team.html") Our Team
            li
              a(href="become_a_volunteer.html") Become a Volunteer
            li
              a(href="#") Shop
            li
              a(href="event.html") Event
            li
              a(href="galery.html") Gallery
            li
              a(href="#") Forum
            li
              a(href="our_program.html") Our Program
            li
              a(href="#") Contact
        li
          a(href="#") Our Cause
        li
          a(href="#") Blog
