mixin menu 
    nav
      ul
        li
          a(href="index.html") Home
        li
          a(href="about-us.html") About
        li
          a(href="#") Pages
          ul
            li
              a(href="our-team.html") Our Team
            li
              a(href="becomevolunteer.html") Become a Volunteer
            li
              a(href="shop.html") Shop
            li
              a(href="eventpage.html") Event
            li
              a(href="gallery.html") Gallery
            li
              a(href="our-cause.html") Our Cause
            li
              a(href="news-and-update.html") News Update
            li
              a(href="contact.html") Contact
        li
          a(href="portfolio.html") Portfolio
        li
          a(href="blog.html") Blog
