mixin menu 
    nav
      ul
        li
          a(href="#") Home
        li
          a(href="file:///E:/Lucy/WEBCHARITI-5/about.html") About
        li
          a(href="#") Pages
          ul
            li
              a(href="#") Our Team
            li
              a(href="#") Become a Volunteer
            li
              a(href="#") Shop
            li
              a(href=".../event.html") Event
            li
              a(href="#") Gallery
            li
              a(href="#") Forum
            li
              a(href="#") Our Program
            li
              a(href="#") Contact
        li
          a(href="#") Our Cause
        li
          a(href="#") Blog
