mixin news-image
    .card-sec-news
      .card
        img(src="web_templating/image/article.png", alt="Gambar Berita")
        h2 News
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua jika iloveyou.