mixin faq-list(question, answer)
  div.question-box-faq
    input(type="checkbox" id=question.replace(/\s+/g, '-').toLowerCase() style="display:none;")
    label(for=question.replace(/\s+/g, '-').toLowerCase())
      p.question-text= question
    div.answer
      p= answer
