mixin profile-forum
        .content-profile
            p by
            img.content-profile-img(src="web_templating/image/profile1.png", alt="")
            .text-content-form
                p Name 
                p 27 - 07 - 2025
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices ultrices orci a blandit. Duis eget pellentesque ipsum,