mixin profileForum(authorName, profileImg, date, description)
    .content-profile
        p by
        img.content-profile-img(src=profileImg, alt="")
        .text-content-form
            p= authorName
            p= date
            p= description
