mixin shop(imagePath, title, description)
    .shopcard 
      .framegambar
        img(src=imagePath, alt=title)
        .info 
          h2= title
          p= description
        .shopbutton 
          +button("Buy Now","shopclick1.html")
