mixin shop
    .shopcard 
      .framegambar
        img(src="web_templating/image/cingur.png", alt="")
        .info 
          h3 RUJAK EMBIK 
          p jafnhuifhuiahfguieahguiahguiahfuiahfuv iahdfuiahfuihfuihdfuih
        .shopbutton 
          +button 
