mixin shop
  body
    .product-card
      img.image-icon(alt="", src="web_templating/image/bts10.png")
      .product PRODUCT
      .lorem-ipsum-dolor Lorem ipsum dolor sit amet, consectetur.
      .product-card-child
      .add-to-cart Add to Cart

