mixin text-porfolio-details
        .sec-text-1
            h2 Project Details
            p Excepteur emergent, minim veniam anim aute carefully curated Ginza conversation. Exquisite and perfect nostrud nisi intricate content. First-class, punctual, and essential. Adipisicing lovely queen tempor eiusmod irure. Exclusive izakaya, charming Scandinavian style, impeccable aute quality. Life is full of soft power from Melbourne's culture and occaecat discerning tastes. Qui wardrobe aliquip, et Porter destination Toto; remarkable officia in Helsinki for Basset hounds. Zürich’s perfect and comfortable life is what consectetur represents.