mixin volunteer
    .volunteer
      img.volunteer-child(alt="", src="Rectangle 7.svg")
      img.image-1-icon(alt="", src="image 1.png")
      .volunteer-item
      i.drs-name-name DRS. NAME NAME
      .company-owner COMPANY OWNER

