mixin cause-image
        .card-section-cause
            .card-image-cause
                img(src='web_templating/image/causeimage.png', alt='Cause Image')
            .card-content-cause
                h2 Creeper Explosion
                .progress-bar-cause
                    .progress-cause(style='width: 92%') 92%
                span Goal: $30,000.00
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus pretium orci in pharetra. Vivamus eget sodales nunc. Phasellus ut porta dui eu molestie sapien.
                +button('Donate Now')