extends _template.pug


block header 
    +header (....,....)


block content  
    +menu (....,....)
    +navbar (....,....)
    +article (....,....)
    +footer (....,....)
    +shop (....,....)
    +volunteer (....,....)
    +button (....,....)