html
  head
    title DropdownMenu Design
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="menu.css")
  body
    nav
      ul
        li
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Pages
          ul
            li
              a(href="#") About us
            li
              a(href="#") Our Team
            li
              a(href="#") Become a Volunteer
            li
              a(href="#") Shop
            li
              a(href="#") Event
            li
              a(href="#") Gallery
            li
              a(href="#") Forum
            li
              a(href="#") Our Program
            li
              a(href="#") Contact
        li
          a(href="#") Our Cause
        li
          a(href="#") Blog
