.event-card {
    width: 30rem;
    background-color: #fff;
    font-family: Arial, sans-serif;
  }
  .event-card:hover {
    transform: translateY(-9px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .event-card:hover .event-card__image img {
    opacity: 0.8;
  }
  .event-card__image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .event-card__details {
    background-color: #121212;
    color: #ffffff;
    padding: 10px;
    display: flex;
  }
  
  .event-card__date {
    flex: 0 0 50px;
    text-align: center;
  }
  
  .event-card__date .date {
    font-size: 1.5em;
    color: #ff0000;
    font-weight: bold;
  }
  
  .event-card__date .month {
    font-size: 1em;
    color: #ff0000;
  }
  
  .event-card__info {
    flex: 1;
    padding-left: 10px;
  }
  
  .event-card__info .title {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 5px;
  }
  
  .event-card__time-location {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
  
  .time, .location {
    display: flex;
    align-items: center;
  }
  .location{
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
  .time i, .location i {
    margin-right: 5px;
  }
  