.wadahicon{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon h1{
    color: aliceblue;
    text-align: center;
}
.icon p{
    color: rgb(173, 173, 173);
    text-align: center;
}
