.question-box-faq {
  background-color: #D9E5DE;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.question-text {
  margin: 0;
  font-weight: bold;
}

.answer {
  overflow: hidden;
  max-height: 0; /* Initially hidden */
  transition: max-height 0.5s ease, padding 0.5s ease;
  background-color: #F4F4F4;
  padding: 0 20px;
  border-radius: 5px;
  margin-top: 5px;
}

/* Show answer when checkbox is checked */
input[type="checkbox"]:checked + label + .answer {
  max-height: 100px; /* Adjust based on content height */
  padding: 10px 20px;
}
