.image-icon {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 18.688rem;
  height: 21.75rem;
  object-fit: cover;
}
.product {
  position: absolute;
  top: 22.688rem;
  left: 0.5rem;
  display: inline-block;
  width: 10.938rem;
  height: 1.438rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25) inset);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 24.125rem;
  left: 0.5rem;
  font-size: 1.063rem;
  color: #000;
  display: inline-block;
  width: 14.188rem;
  height: 2.75rem;
}
.product-card-child {
  position: absolute;
  top: 27.438rem;
  left: 11rem;
  border-radius: 3px;
  background-color: #3edd98;
  border: 1px solid #a3f9a8;
  box-sizing: border-box;
  width: 6.438rem;
  height: 3.188rem;
}
.add-to-cart {
  position: absolute;
  top: 28.375rem;
  left: 11.688rem;
  font-size: 0.875rem;
  font-weight: 800;
  color: black;
}
.product-card {
  width: 30%;
  position: relative;
  border-radius: 2px;
  background-color: var(--color-white);
  height: 31.875rem;
  overflow: hidden;
  text-align: left;
  font-size: 1rem;
  color: transparent;
  font-family: var(--font-poppins);
}
.product-container {
  display: flex;
  flex-wrap: wrap; /* Agar item baru pindah ke baris berikutnya jika ruang tidak cukup */
  justify-content: space-between; /* Mengatur jarak antar produk */
  gap: 16px; /* Menambahkan jarak antar produk */
}
