.volunteer{
    position: relative;
    width: 251px;
    height: 360px;
    border-radius: 10px;
    overflow: hidden;
}
.volunteer img{
    width: 100%;
    height: auto;
}
.volunteertxt{
    position: absolute;
    bottom: 43px;
    background-color: #95FE9C;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    max-width: fit-content;
}
.volunteertxt p{
    color: rgb(12, 12, 12);
    font-size: 19px;
    margin-left: 5px;
    margin-bottom: 0;
}
.volunteertxt b{
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
    margin-right: 20px;
    margin-left: 2px;
}