mixin shop
    .wrapper
      .product-img
        img(src="https://www.foodpanda.hk/restaurant/japt/rehans-kebab-house-and-bar", height="420", width="327")
      .product-info
        .product-text
          h1 RehanKebab
          p Harvest Vases are a reinterpretation
            | of peeled fruits and vegetables as
            | functional objects. The surfaces
            | appear to be sliced and pulled aside,
            | allowing room for growth.
        .product-price-btn
          span 78.Rp
          button(type="button") ADD CART

