doctype html
html
  head
    meta(charset="UTF-8")
    title Simple Navigation Bar
    link(rel="stylesheet", type="text/css", href="nav.css")
  body
    ul
      li
        a(href="#home") Home
      li
        a(href="#about") About
      li
        a(href="#services") Services
      li
        a(href="#contact") Contact

