<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/menu.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <title>tytyd</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li>
          <a href="#">Pages</a>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Become a Volunteer</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Event</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Our Program</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </li>
        <li><a href="#">Our Cause</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </body>
</html>
